[2017-08-20 03:52] neilsustc opened #1 "Unexpected colored leading spaces"
If I have this setting `"editor.renderWhitespace": "boundary"`, the spaces are also colored.

![image](https://user-images.githubusercontent.com/7588612/29491936-d9ba2bca-859d-11e7-8279-89e689f557de.png)

[2017-08-20 13:07] fabiospampinato commented on #1
Fixed via b61c541, an update has been pushed to the registry.

Thanks for reporting the problem.

[2017-08-20 13:07] #1 closed

[2017-08-21 23:39] neilsustc opened #2 "Custom symbol doesn't get colored"
When using ⬜ as box symbol

![image](https://user-images.githubusercontent.com/7588612/29542324-d8bda06a-870c-11e7-9036-7f9a2b0c6d5d.png)

[2017-08-22 07:46] fabiospampinato commented on #2
Fixed with the latest update.

Keep in mind that arbitrary symbols are not supported, the list of supported ones is written in the readme.

[2017-08-22 07:46] #2 closed

[2017-08-22 09:05] neilsustc commented on #2
Okay, thank you

[2017-09-01 14:59] felocru opened #3 "How can I copy the styles?"
Hello, I'm not sure if it's possible; But I used an extension very similar to yours (by the way, excellent extension) that could copy all styles of the document. That is, the color.
Is it possible to do this too?

For example, I want to copy these tasks to the inbox of gmail.

Thank you.

[2017-09-01 15:06] fabiospampinato commented on #3
Can you link me the other extension you were using?

I guess I might implement the same functionality, if it doesn't require too much work.

[2017-09-01 15:30] felocru commented on #3
Hi, thanks for your prompt reply.
The extension I used is:
[https://marketplace.visualstudio.com/items?itemName=sandy081.todotasks](url)

[2017-09-03 08:22] jareis opened #4 "suggestion: use todotxt future-proof task tracking"
Hello,

To better integrate with other task tracking solutions should use the todotxt set of rules.

more info:
http://todotxt.org/
https://github.com/todotxt/todotxt/
https://github.com/todotxt/todo.txt-cli/

[2017-09-03 11:45] fabiospampinato commented on #4
I'm not very familiar with the todo.txt format but from what I can see they look like too completely different formats, and I personally like ours better.

Are you suggesting any specific feature to be ported from todo.txt?

[2017-09-03 13:53] fabiospampinato commented on #3
I see, I was using that extension as well before making my own.

I made some tests, and this is what the style of a sample todo file looks inside VSC and Gmail when using todotasks:

<img width="358" alt="screen shot 2017-09-03 at 15 35 32" src="https://user-images.githubusercontent.com/1812093/30003499-2efa445a-90be-11e7-9ff3-8cd7c8da39d9.png">

<img width="448" alt="screen shot 2017-09-03 at 15

[2017-09-03 14:14] fabiospampinato commented on #3
I've opened an [issue](https://github.com/Microsoft/vscode/issues/33747) in VSC's repository about this. Let's see what they think about it.

[2017-09-04 15:50] felocru commented on #3
I understand, I hope this feature will soon be applied. Since it would be very easy to share the tasks.
Thanks for your time.

[2017-09-05 19:58] jareis commented on #4
I know that the two file types are very different. Don't get me wrong i found the plugin to be great, it's just and idea for the version 2.0.

Some advantages in todo.txt:
- Prioritize tasks
- The files can be easily managed/imported on to other platform, softwares and there are several already developed
- it seams to be a standard (if there is one)

[2017-09-06 11:22] fabiospampinato commented on #4
I think this should rather be implemented as a separated extension.

You can prioritize tasks already with our format, just move things to the top.

You may want to try [this](https://marketplace.visualstudio.com/items?itemName=gerane.Language-TodoTXT) extension that supposedly adds support for the todo.txt language.

[2017-09-11 21:56] axefrog opened #5 "Extension doesn't work with VSCode 1.16"
I have a standard release of VSCode open with my project folder loaded. There is a .vscode folder in the root, a node_modules folder and a number of other folders as per any standard JavaScript project.

When I try to use the command to open my todo file, I get an error saying that I need to have a project open in order to use the extension. What does this even mean? I do have a project open. Are

[2017-09-12 09:21] Michael-0 opened #6 "You have to open a project before being able to open its todo file"
When I execute the todo: open command, I get the following error : "You have to open a project before being able to open its todo file". I do have a folder opened, what am I missing ?

Thank you.

[2017-09-20 20:22] fabiospampinato commented on #6
Perhaps you were running the `Todo: Open` command while the focused editor was about a file stored outside the currently opened folders, like for instance VSC's settings file?

[2017-09-20 20:27] fabiospampinato commented on #5
The API required for the multi-root functionalities, which this extension uses, is actually available since v1.15, are you running some older version?

This might be a duplicate of #6, read my response to that. Is that the case here?

[2017-09-22 12:28] Cl3r1k opened #7 "Change folder.uri.path to folder.uri.fsPath"
https://github.com/fabiospampinato/vscode-todo-plus/blob/53ce80852f020891c0bb38f851a6c426dac8b350/src/utils.ts#L170

I've got the same problem as in #6 and #5
But wanted to test the extension)
I'm not quite good enough in TS and JS but after some searching and debugging, found, that in the line https://github.com/fabiospampinato/vscode-todo-plus/blob/53ce80852f020891c0bb38f851a6c426dac8b350/src/ut

[2017-09-22 12:37] fabiospampinato commented on #7
Thanks a lot for this information. Those damn Windows paths are always a reliable source of bugs.

I'm already working on a few commits, I'll fix this right after those.

[2017-09-22 23:00] PixelT opened #8 "Todos counter next to folded project"
Possibility to (un)folding todos by project name
When project is folding, maybe display next to project name number of todos?

[2017-09-23 11:24] PixelT opened #9 "todo.colors.* dont work with todo.tags.*"
If I have custom tag or tags in my todos, then todo.colors.* doesn't work:

![todo-colors](https://i.imgur.com/zEdN2dJ.png)

[2017-09-23 13:27] fabiospampinato commented on #8
I like the idea, but I'm afraid implementing it wouldn't be easy.

I'll ponder on it, thanks for the suggestion!

[2017-09-23 13:35] fabiospampinato commented on #9
Something doesn't look right here, why is `[ ]` yellow?

Currently anything after a tag, except other tags, is not styled, that's a limitation of the current implementation. Tags are expected at the end of a todo.

Is something else broken?

Can you post your exact settings?

[2017-09-24 20:16] fabiospampinato commented on #7
This should be fixed on v1.5.0.

[2017-09-24 20:16] #7 closed

[2017-09-24 20:17] fabiospampinato commented on #6
Should be fixed on v1.5.0. Closing as duplicate of #7.

[2017-09-24 20:17] #6 closed

[2017-09-24 20:17] fabiospampinato commented on #5
Should be fixed on v1.5.0. Closing as duplicate of #7.

[2017-09-24 20:17] #5 closed

[2017-09-24 20:20] fabiospampinato commented on #9
With v1.5.0 is possible to put tags inside todos and comments.

I'm still interested in your settings though, those `[ ]` don't look right.

[2017-09-24 20:20] #9 closed

[2017-09-24 21:14] PixelT commented on #9
Those `[  ]` are look different than default because I have extension to [color brackets](https://github.com/CoenraadS/BracketPair).

My settings:
[code]

[2017-09-24 21:32] fabiospampinato commented on #9
Alright then, thanks!

[2017-09-28 21:13] EvgeniyMakhmudov opened #10 "More features need?"
Previously i used SublimeText with plugin [PlainTasks](https://github.com/aziz/PlainTasks). Todo+ right now have no useful features, such add datetime stamp when task done/canceled, "archive" mode. Last feature really cool, it allow often not use scroll of screen to show all undone tasks, because all completed tasks you can send in "archive" by simple command or keys combination and keep you lists

[2017-09-28 22:39] fabiospampinato commented on #10
I'm skeptical about the usefulness of those features.

Timestamp: in which case is this really useful? I think most of the times any completed todo corresponds to a new commit, which already provides this information.

Archive: having the ability to auto-remove completed todos is interesting, but VS Code already provides a `Delete Line` command which basically does just that. Having todos archived

[2017-09-29 06:57] EvgeniyMakhmudov commented on #10
1. You think not so wide as possible. Task is not equal commit. Task is some note for yourself to remember do anything, such make call to colleague to discuss some feature, check changelog in new version of packages and even private tasks like buy new stuff to home. So, that task generally may have no link to any timestamp in other place, so it may be useful, if necessary next time to remember whe

[2017-09-29 07:02] Cl3r1k commented on #10
"add datetime stamp when task done/canceled"
Sounds interesting) It could be helpfull for me, for example.

[2017-09-29 11:01] fabiospampinato commented on #10
Why not using the `Delete Line` command then?

I'll keep this issue open, I might add the timestamp feature if it gets requested by enough people and/or I'll have time to implement it.

[2017-09-29 11:46] EvgeniyMakhmudov commented on #10
The same reason that you marked task "done", instead just delete it - for history.

[2017-09-29 11:49] EvgeniyMakhmudov commented on #10
@Cl3r1k if you interesting it, react top message with thumbs up emoji

[2017-09-29 13:26] fabiospampinato commented on #10
If the todo list is pretty short I don't see much gain in archiving completed todos, and if the list is long you're probably nesting them, therefor something like this:
[code]
will look like this when archiving completed todos:
[code]
Now I'm not even sure what those todos are talking about.

------

**But**, I can see some uses for these features when writing todo lists for things other than prog

[2017-10-02 20:15] ColonelBundy commented on #10
Pretty much would love to see the features in plaintasks to be added.

[2017-10-06 16:52] rfoust commented on #10
I'd also like to see the timestamp and archive features added.  I use them daily in the other editors mentioned, but would like to move everything to VS Code.

[2017-10-21 17:01] hujianxin opened #11 "todo file color option may be good"
If the color of todo file is light or other color which is different with our source code files, that will be good.

Will this be hard to achieve it?

[2017-10-21 17:03] hujianxin commented on #11
Like this: ![](https://ws3.sinaimg.cn/large/006tKfTcly1fkqd0qese9j31kw0ykaf4.jpg)

[2017-10-21 22:14] fabiospampinato commented on #11
I'd love to add support for this, but it's just not possible at the moment with the available APIs.

I've opened an [upstream issue](https://github.com/Microsoft/vscode/issues/35379) about this, give it a thumbs up.

[2017-10-21 22:14] #11 closed

[2017-10-23 13:34] henricryden opened #12 "Multicursor support"
Would it be possible to add multicursor support? An example of current behavior is shown below:

![todoplus_multicursor](https://user-images.githubusercontent.com/26415523/31891730-8dd3dbba-b807-11e7-9c55-278aefd7b4d2.gif)

[2017-10-23 13:47] fabiospampinato commented on #12
Thanks for the suggestion, I'll add support for this.

[2017-10-31 18:42] fabiospampinato commented on #12
I've just published v1.5.3 that should fix this.

[2017-10-31 18:42] #12 closed

[2017-10-31 20:05] yamnikov-oleg opened #13 "Underlines in code segments"
Hey, Fabio. Thank you for your work, this extension has really boosted my productivity.

To the issue. I like to reference code symbols in my todos like so:

[code]

But unfortunately formatting makes symbols looks badly if there are underlines in them. In the example above, `to` would be formatted in italics in the middle of method name.

Could you, maybe, make underlines only format text if ther

[2017-10-31 20:18] fabiospampinato commented on #13
Formatting only if there's space or line start/end characters around them seems reasonable. Should be pretty easy to implement.

In the mean time you may disable formatting entirely by adding `"todo.formatting.enabled": false` to your settings.

Code segments may be an interesting addition, but it probably won't be that easy to implement. It would be better if you could open a separate issue for t

[2017-10-31 21:26] yamnikov-oleg opened #14 "Format code sections with backticks (`)"
Proposal to implement code sections formatting in the todo text with backticks (as in markdown).

These sections could be displayed with slightly different background color. Any other formatting features (bold and italics) inside code sections are disabled.

**Suggested use case:**

To reference or to sample source code.

[code]

[2017-10-31 21:27] yamnikov-oleg commented on #13
@fabiospampinato done: #14

[2017-11-01 21:45] fabiospampinato commented on #13
Fixed in v1.6.0.

[2017-11-01 21:45] #13 closed

[2017-11-01 21:48] fabiospampinato commented on #14
Supported in v1.6.0.

Code blocks can be embedded pretty much anywhere. Even multi-line code blocks are supported.

Other decorators inside them are disabled, this was tricky.

[2017-11-01 21:48] #14 closed

[2017-11-01 21:52] fabiospampinato commented on #10
I'll work on this tomorrow 👍

[2017-11-02 09:21] yamnikov-oleg opened #15 "Trailing colon in a code block turns the line blue"
There is a minor issue in multiline code blocks. Trailing colon converts the line into a title, which is inconvenient in Python code samples:

![Screenshot](https://i.imgur.com/gOcCgPg.png)

PS. Thank you for the feature, it's awesome :)

[2017-11-02 09:25] yamnikov-oleg opened #16 "Single backticks inside multiline code blocks revert the block formatting"
Text enclosed in singular backticks inside a code block is colored gray, but probably shouldn't.

![Screenshot](https://i.imgur.com/IU3XObo.png)

[2017-11-02 12:07] fabiospampinato commented on #16
That's happening because triple backticks aren't technically supported, the text in the screenshot contains 4 code blocks according to how it gets parsed.

I'm going to fix this by explicitly supporting triple backticks, thanks for reporting the issue.

[2017-11-02 12:08] fabiospampinato commented on #15
It should be pretty easy to fix, thanks for opening the issue.

[2017-11-02 12:17] yamnikov-oleg commented on #16
@fabiospampinato Oh, I thought it's a special feature. My bad :)

[2017-11-02 15:19] fabiospampinato commented on #16
Fixed in v1.6.1.

[2017-11-02 15:19] #16 closed

[2017-11-02 15:19] fabiospampinato commented on #15
Fixed in v1.6.1.

[2017-11-02 15:19] #15 closed

[2017-11-03 22:34] fabiospampinato commented on #10
Timekeeping and Archive functionalities have been implemented in v1.7.0.

Not all of PlainTasks' functionalities have been ported though, but it should be enough for most.

If you feel something in missing please open a new issue.

[2017-11-03 22:34] #10 closed

[2017-11-04 04:00] Makogan opened #17 "How to modify and add custom TODO filename?"
I was wondering if it is possible to have sutom TODO file names. Mainly because I want an independent TODO filename for each version of my project for log pouposes.

[2017-11-04 08:53] yamnikov-oleg commented on #17
@Makogan Just create files with `.todo` extension. E.g. `version1.todo`, `version2.todo`.

[2017-11-04 12:19] fabiospampinato commented on #17
@Makogan you can change the default name via the `todo.file` setting. You can have multiple todo files, just ensure they have a `.todo`, `.todos`, `.task` or `.tasks` extension. Alternatively, you can edit a file named whatever you want, just be sure to set its language to `Todo`.

[2017-11-04 12:19] #17 closed

[2017-11-05 18:22] jadiaz opened #18 "Filtering by Tag"
Would like to be able to view all todo's by tag

[2017-11-05 18:26] fabiospampinato commented on #18
You mean the way PlainTasks does it?

[2017-11-05 18:29] jadiaz commented on #18
Yes. Being able to work on similarly tagged tasks is essential.

[2017-11-05 18:37] fabiospampinato commented on #18
I'd like to implement it, but I believe there's no API for doing that at the moment.

I've opened an [issue](https://github.com/Microsoft/vscode/issues/37682) on VSC's repository, it would be helpful if you give it a thumbs up or write something.

[2017-11-11 06:28] usernamehw opened #19 "FR: Add symbols navigation for headers"
Similar to PlainTasks:

![symbol_in_plain_tasks](https://user-images.githubusercontent.com/9638156/32686973-55cfb53a-c6c2-11e7-8990-b822cabaaa46.png)

[2017-11-13 15:57] fabiospampinato commented on #19
Thanks for the suggestion.

I like the idea, but I'll implement a few other things first.

[2017-11-14 11:57] kmf opened #20 "ISO 8601 Date support"
I would love ISO 8601 date support.

`✔ Add support for ISO 8601 in Todo+ @done(2017-11-14 13:54)`

[2017-11-14 12:03] kmf commented on #20
Add this to your settings
`
"todo.timekeeping.finished.format": "YYYY-MM-DD HH:mm",
`

[2017-11-14 12:03] #20 closed

[2017-11-23 21:34] hanenbro opened #21 "Support for current theme colours"
Would it be possible to add an option to disable any/all custom colour assignments and highlight based on the current syntax theme's keyword colours? I appreciate it's not easy to know how well a given theme's colours will map onto the to-do list context, but it would be a convenient alternative for users of light themes, and those who change theme often.

Thanks for the great extension!

[2017-11-23 22:35] fabiospampinato commented on #21
This is currently impossible to implement because of https://github.com/Microsoft/vscode/issues/32813.

[2017-11-30 09:47] shvfn opened #22 "A tag for time estimates"
Hi, I got an idea for a feature. It's not a small one, but I thought it doesn't hurt to suggest it.

So, I think it would be useful if a user could add a tag with an estimated duration to a task. Those estimates could then be automatically added up next to the encapsulating project title.

For example, if we have a todo-list like this:

[code]

then the user could add time estimates like this:

[c

[2017-11-30 10:20] fabiospampinato commented on #22
Thanks for the suggestion!

I like the idea, but I think there are more important features to implement first. I'll keep this open in order to monitor the popularity of the request.

[2017-12-24 23:35] tyoc213 opened #23 "Add @due(17-12-24)"
It will be nice if possible to add a `due date` in green more than one week, red in date or after, yellow in the following 7 days... (or some like that)

[2017-12-24 23:41] tyoc213 opened #24 "Archive destroys the "format""
It would be nice if the line could by hided as is now, but marked with a special icon instead of moved of line...

I propose for example: ⌨ as icon?

Maybe ☺ ☻ ▦ ▧ ▨ ▩ or something so it is not confused with other icons

Or keep the format of the things.... but in the cancelled section... so to interleave the projects and append at end of archived task... (but I think the first option is best, bec

[2017-12-26 16:12] fabiospampinato commented on #24
Man, I've no idea what you're talking about.

What's the "format"?

What line? What do you mean "hided"?

It would be better if you could make me a screenshot or something.

[2017-12-26 16:13] fabiospampinato commented on #23
I like the idea but at the moment I don't have enough time for implementing it.

[2017-12-27 00:08] SPascareli opened #25 "Maintain the project structure (indentation) after moving todos to Archived"
**AS IS**:

Given a todo structure where you have:

When todos nested in the structure are archived they become "flat", like in the image bellow

![](https://i.gyazo.com/7c36fb00d7cb10a1af15780f320b04a0.png)

This means that it's hard to keep the proper context of done todos.

**TO BE**:

Todos when archived still maintain their structure, by also copying the project name, and parent todo if possi

[2017-12-27 10:05] fabiospampinato commented on #25
@SPascareli this might be a decent solution, but I don't have time for implementing it, feel free to submit a PR for it if you want 👍

In the meantime you may just copy the project structure manually to the archive.

[2018-01-15 20:50] metbril commented on #23
You should modify the title of this issue. It suggests the year to be used without century but instead suggests to add colors for dates. Suggestion:

Add support for color with @due() tags

Color suggestions:

- red for due today
- purple for overdue

Any other date should stay in default tag color for readability of the file.

[2018-01-15 20:57] metbril opened #26 "TaskPaper syntax support"
I would really like the plugin to better support full Taskpaper syntax.

https://jessegrosjean.gitbooks.io/taskpaper/
https://taskpaper.com/

Main issue is that I'd like to use a dash `-` for both open, done or cancelled tasks.

[2018-01-15 20:58] metbril opened #27 "Support for .taskpaper and .tp extension"
The taskpaper app uses the .taskpaper or .tp extension. Please support this for the extension, too.

[2018-01-16 03:05] fabiospampinato commented on #27
Thanks for the suggestion, I'll probably add support for this.

[2018-01-16 03:07] fabiospampinato commented on #26
TaskPaper compatibility is not a goal of this project.

If you use the dash for everything, how do you distinguish between an open/done/cancelled task?

[2018-01-16 03:09] fabiospampinato commented on #23
I think the title is fine, we already format dates that way.

[2018-01-16 05:33] metbril commented on #26
In taskpaper syntax the state would be determined by the tag 'done' or 'cancel'. Open will have none of those tags.

[2018-01-18 16:55] fabiospampinato commented on #27
I've added support for the `.taskpaper` extension in v1.8.0.

I've left behind the `.tp` extension though, I've downloaded the latest version of TaskPaper from their website, created a file, and changed its extension to `.tp`, and it's not even recognized by TaskPaper itself. Also this extension seems to be used by Turbo Pascal, but that's a minor thing.

Of course you can always change the langua

[2018-01-18 16:55] #27 closed

[2018-01-24 08:10] nefas83 opened #28 "Archive groups"
Hi,
nice plugin. I use it every day :)

Sorry for double post.

Please delete

[2018-01-24 08:13] #28 closed

[2018-02-07 08:43] samael205 opened #30 "[Enchancement] Filter tasks by tag"
Hello,

I would like to make a suggestion.

Could you create a command, in which you would put for example filter> @done: 18-02-06 and that only the tasks completed for that day would appear?

What I'm saying is making a command filter by tag.

[2018-02-07 19:39] fabiospampinato commented on #30
I'm closing this as a duplicate of [another issue](https://github.com/fabiospampinato/vscode-todo-plus/issues/18).

There's currently no way to implement this the way PlainTasks does it, for the time being you'll have to just search for your tags (basically `ctrl+f` -> `@done`).

[2018-02-07 19:39] #30 closed

[2018-02-14 15:50] maliur opened #31 "On hold status"
I often find myself the need to put some task on hold as I'm waiting for someone else to do something before I can proceed on that task. As for know i just put a comment below to remind myself but it would be great if you could put another status with colouring to distinguis it from other tasks that I haven't done yet.

[2018-02-14 16:02] fabiospampinato commented on #31
You mean adding another special tag like `@critical` or `@high`?

[2018-02-14 17:24] albu77 opened #32 "I can't find the way of changing the color of normal text in a todo"
I Can't find the way of mofifying the color othe normal text (the yellow arrow is showing). Is there a way in the user setting of Visual Code?
![todocolor](https://user-images.githubusercontent.com/624802/36218294-28525c38-11b4-11e8-9b85-b58291a6fc90.png)

[2018-02-14 18:44] maliur commented on #31
No I meant more like the done and cancel effect where to whole text gets a new color, maybe yellow? and maybe "blocked" is a better wording then "on hold".

[2018-02-15 18:40] Zooce opened #33 "[Feature Request] Settings to change the color of @started/cancelled/done tags"
When you have a lot of tasks marked as either `@started` or `@cancelled` or `@done` it becomes rather difficult to see which ones you're actively working on because all of them are the same color (it's a yellow-ish color). It would be really nice to have the option to change the colors of those tags specifically.

[2018-02-23 14:45] trianta opened #34 "[Feature Request] - Navigate via "Go to symbol""
Hi Fabio

any chance you will enable "go to symbol" (sh-cmd-O) using -for example- markdown header styles (#, ##, etcetera)?

Grazie for the work by the way, it is a major reason I migrated to vscode

[2018-02-27 07:37] shvfn commented on #32
Hey, it's in the VSCode settings:

"todo.colors.comment": "#aa0000",

You need to replace this in your user settings and then restart VS Code so that the changes apply.

[2018-02-27 12:15] fabiospampinato commented on #32
As @shvfn correctly points out you can change the color of comments with `"todo.colors.comment": "#aa0000"`.

Your title mentions "normal text" and in your screenshot I see an orange box around a normal todo, that color comes from the syntax theme you're using -- maybe there's an option for customizing that, I'm not sure, you should check out [this page](https://code.visualstudio.com/docs/getstart

[2018-02-27 12:15] #32 closed

[2018-02-27 12:18] fabiospampinato commented on #31
I like this idea, but it's not a feature I personally would use and I currently don't have the time for implementing it. I'll be happy to merge a PR that implements it though :)

[2018-02-27 12:28] fabiospampinato commented on #33
You can already do this my making them special tags, just add this to your settings (change the colors to your likings):

[code]

This is the result:

<img width="831" alt="screen shot 2018-02-27 at 13 25 07" src="https://user-images.githubusercontent.com/1812093/36728651-c9088852-1bc1-11e8-9ee3-d326cfc8d313.png">

Currently the text inside the parentheses doesn't get colorized though, I'll push a

[2018-02-27 13:27] fabiospampinato commented on #34
Hey, thank you :)

I don't like having to add support for some new syntax for this, and I don't think this is a particularly useful feature for most people, but I'll consider a PR that adds support for "Go To Symbol" if the symbols are basically all the "projects" in the file, so that one can switch quickly between them.

[2018-02-27 13:34] trianta commented on #34
Yes! Going to projects is just fine. Thanks ;)

[2018-02-27 15:40] fabiospampinato commented on #33
Fixed in v1.8.1.

[2018-02-27 15:40] #33 closed

[2018-03-01 11:07] albu77 opened #35 "Is there a way of having multilines todo"
If I have a very long toto description, it will be better to have multilines todo, is is optional?

[2018-03-01 13:14] fabiospampinato commented on #35
Real multiline todos are not supported, one of the reasons for this is that in some cases it will be impossible to decide if those 2 lines are just 1 todo or they actually represent 1 todo and 1 description.

But you can decide to have long todos displayed in multiple lines to you, effectively enabling multi-line todos even though they are actually a single line. It's all about line wrapping, you

[2018-03-01 13:14] #35 closed

[2018-03-01 13:23] albu77 commented on #35
Great, just what I need....
really nice tool and great job.

[2018-03-01 14:01] fabiospampinato commented on #35
Thank you :)

[2018-03-03 18:48] avelino commented on #26
emacs taskpaper implementation: https://github.com/saf-dmitry/taskpaper-mode
*for reference*

[2018-03-04 17:45] fabiospampinato commented on #26
If anybody wants to submit a PR for this I'll be happy to consider it.

[2018-03-21 01:14] kuhnerdm opened #37 "Archive task's comments with parent task"
Hi, I've noticed that, when I embed non-task text into a task, complete the task, and archive, the embedded text stays where it is, and becomes embedded under the task above the archived one. Any chance we could change the behavior from:

![ex1](https://user-images.githubusercontent.com/14303088/37690758-84df54c6-2c83-11e8-9998-b3d6693ae656.png)

to:

![ex2](https://user-images.githubusercontent.c

[2018-03-21 17:41] fabiospampinato commented on #37
You're right, I'll be happy to consider a PR for this.

[2018-03-27 22:36] jannkiepert opened #38 "file link for embedded TODOs doesn't work on Windows"
When embedding tasks in vscode on Windows the file-link only contains two slashes in
`file://path-to-doc` like this:

![grafik](https://user-images.githubusercontent.com/35337482/37998615-77fa7fd2-321f-11e8-890f-18635c708d2b.png)
while it should be `file:///path-to-doc`

![grafik](https://user-images.githubusercontent.com/35337482/37998681-d5da05d2-321f-11e8-9429-89109b0a9b7f.png)

[2018-03-28 13:43] fabiospampinato commented on #38
Thanks for reporting the problem, this should be fixed in v1.10.1.

[2018-03-28 13:43] #38 closed

[2018-03-30 03:42] cavariux opened #39 "Feature: Could you add full support for the @file tag please?"
Hi, I was looking at how you implemented the @file tag in the open embedded, but I can't make it work without putting the entire file path, which doesn't really works for different computers.
If it already exists could you please add some documentation on how to use it. Thanks 👍

[2018-03-30 11:27] fabiospampinato commented on #39
This extension only provides syntax highlighting for tags.

Texts such as `file:///path/to/file` are treated as links by Visual Studio Code, in fact you can even visit them with a browser.

I'm not sure I can implement this in a cross-computer way, but even if I could, this file is generated on demand, so I don't really see the need of saving it for sharing with another computer, that other comput

[2018-03-30 11:27] #39 closed

[2018-04-03 08:16] maple-leaf opened #41 "[Feature Request] auto save when change todo status"
I thinks it's fair feature that when I change todo status, like `start`, `done`, `TODO` file should be saved automatically. :-)

[2018-04-03 11:42] fabiospampinato commented on #41
You could enable something similar to this at the editor level: https://code.visualstudio.com/docs/editor/codebasics#_save-auto-save.

I don't think this should be implemented in an extension 🤔

I'm going to keep this open though, if this gets requested a lot I might add it.

[2018-04-05 15:45] sahil48 opened #42 "Archive only if sub-tasks are completed"
When I press archive, I only want top level tasks with no incomplete nested tasks to be sent to the archive section with indentation preserved.

For example:

- Task 1 @done
    - Subtask 1 @done
    Note 1
    - Subtask 2 @done
- Task 2 @done
    - Subtask 1 @done
    - Subtask 2
- Task 3

When archive is pressed, I should see the following

- Task 2 @done
    - Subtask 1 @done
    - Subtask 2
-

[2018-04-05 15:52] sahil48 opened #43 "Same symbols for normal/done/cancelled tasks"
I wanted the symbol used for the every tasks, and done and cancelled tasks to be a - instead of ☐, ✔, and ✘.

I tried modifying "todo.symbols.done", "todo.symbols.cancel", and "todo.symbols.box", but it doesn't seem to be having any effect.

[2018-04-05 15:53] sahil48 opened #44 "Consider any todo with the tag @done or @cancelled completed"
I would like to have any line with the @done tag and @cancelled tag highlighted green and red, respectively.

[2018-04-07 11:52] fabiospampinato commented on #42
Checking for uncompleted todos should be doable, I'll be happy to consider a PR for this.

I think preserving the indentation would be non-trivial, since there might be multiple projects with the same name and we'll have to merge them somehow.

[2018-04-07 11:56] fabiospampinato commented on #43
As I understand it this would be a requirement for [taskpaper compatibility](https://github.com/fabiospampinato/vscode-todo-plus/issues/26), which is not a goal of this project. I'd consider a PR for this.

This doesn't change existing todos, but if you create a new one, or toggle the box on an existing one, you'll see that the new symbols are being used.

[2018-04-07 11:57] fabiospampinato commented on #44
I think this is a requirement for  [taskpaper compatibility](https://github.com/fabiospampinato/vscode-todo-plus/issues/26).

I'll be happy to consider a PR for this.

[2018-04-09 09:00] maple-leaf opened #45 "[Feature Request] add option to specify timekeeping color"
![image](https://user-images.githubusercontent.com/3980995/38488678-c7531142-3c16-11e8-84f2-2c77f71d6568.png)

I use `solarized-light` theme, and timekeeping color not very clear on light background

[2018-04-09 12:59] fabiospampinato commented on #45
Those are colored like any other tag, just change the `todo.colors.tag` option.

[2018-04-09 12:59] #45 closed

[2018-04-15 16:20] tvanyo opened #46 "Extra Boxes Generated on Completed/Cancelled toggle"
Just installed v1.10.3 and evaluating. I'm seeing unexpected behavior when I toggle a task completed or cancelled; instead of modifying the original box, it is adding boxes.

The settings I've modified are as follows:
[code]

If I start with this:
    `[] Some task`
and hit `ALT+D` to "Complete" the task, I'm left with this:
    `[x] [] Some task @done(15.4.18)`
Hitting `ALT+D` to "undo" the compl

[2018-04-15 16:40] fabiospampinato commented on #46
`[]` is not a valid box, `[ ]` is. Basically you have to have a space between the brackets.

Do this:

[code]

And it should work.

[2018-04-15 16:40] #46 closed

[2018-04-15 17:04] tvanyo commented on #46
First, thanks for getting back so quickly.
Second, that did fix it.
Third, this space/no-space thing has killed me on several extensions. PlainTasks for SublimeText doesn't have the space, but it isn't clear in the documentation. You might consider a comment in the readme to clarify that.

[2018-04-15 17:08] fabiospampinato commented on #46
Thanks for the suggestion, I'll consider that.

I was thinking maybe the extension should just support `[]` too, the space is there mostly for alignment purposes anyway.

[2018-04-15 17:13] tvanyo commented on #46
I may try to make that change. I have some other things I'd like to see, but I see you have a number of feature requests that you'd like to see PRs for, so I'll oblige.

[2018-04-18 17:25] GlutenBoy commented on #41
It's true that you can activate it at the editor level, but this affects all files. I think a better solution at editor level would be to be able to specify which type of files would auto-save. Then we could say "Alexa auto-save .todo type files please" :)

[2018-04-18 18:50] fabiospampinato commented on #41
@GlutenBoy That sounds like a good idea to me, maybe you should open an issue about this in VSC's repo.

[2018-04-19 21:10] GlutenBoy commented on #41
FYI I found an extension that does that, it's called: Save Typing by Michel Betancourt . Just make sure you set the setting: "save-typing.languages": ["todo"]

This will auto-save only your .todo files.

[2018-04-27 18:50] #3 closed

[2018-04-27 18:59] #24 closed

[2018-04-27 19:03] fabiospampinato commented on #34
Duplicate of #19

[2018-04-27 19:03] #34 closed

[2018-04-27 19:07] fabiospampinato commented on #42
Duplicate of #25 regarding preserving indentation.

Won't fix the other issue as you shouldn't mark tasks as completed if they have uncompleted sub-tasks.

[2018-04-27 19:07] #42 closed

[2018-04-27 19:09] fabiospampinato commented on #41
Closing in favor for more general extensions that let you autosave specific file types.

[2018-04-27 19:09] #41 closed

[2018-05-04 03:02] honkskillet commented on #5
I'm still getting this error.  Just installed todo+.  VSCODE 1.23.0 and TODO+ 1.10.7
"You have to open a project before being able to open its todo file"

[2018-05-04 03:05] fabiospampinato commented on #5
@honkskillet did you have any folder open when you executed the command? Did you have the focus on a file contained inside that folder or maybe something else (i.e. VSC settings)?

[2018-05-04 03:07] honkskillet commented on #5
Ah, that was it.  I had the todo+ setting as my focus.
Thank you for the  quick reply.

[2018-05-04 03:12] fabiospampinato commented on #5
@honkskillet no problem.

[2018-05-07 16:52] jasonarden opened #48 "Add @created(18-05-07 12:40) on new tasks"
<img width="829" alt="screenshot 2018-05-07 12 51 30" src="https://user-images.githubusercontent.com/1065222/39713636-7937968c-51f5-11e8-8026-9a032611087b.png">

[2018-05-07 17:28] fabiospampinato commented on #48
It seems like a nice addition, I won't personally use this so I'd rather consider a PR for this.

Thanks for the suggestion.

[2018-05-15 09:08] samael205 opened #49 "Can we suggest add icon to themes?"
Hi,
I want to suggest to the creator of Material Theme, to add your icon of Todo+ to attach of type file.

it's that possible?

[2018-05-15 09:35] fabiospampinato commented on #49
I'm not sure I understood your question completely, but I think icon themes should be able to provide custom icons for each file type the want.

[2018-05-15 09:35] #49 closed

[2018-05-19 22:47] fabiospampinato commented on #48
Implemented in v1.11.0 (thank you @FabysGames!), although the cursor gets moved past the `@created` tag, which is not optimal, we'll tackle that at a later time.

[2018-05-19 22:47] #48 closed

[2018-05-19 22:54] fabiospampinato opened #51 "Preserve the cursor position when editing the tags"
Right now when the extension adds/removes tags the cursor gets always moved to the end of the line, this is not optimal. Example (`|` is the cursor):

1. `☐ foo |`
2. `Todo: Start`
3. `☐ foo @started(18-05-20 00:52)|`

While the last step should actually be:

3. `☐ foo |@started(18-05-20 00:52)`

[2018-05-19 22:56] fabiospampinato commented on #51
As a quick and dirty fix we might want to:

1. Store the cursor position before the edit

[2018-05-20 04:21] fabysdev opened #52 "Box does not get removed in 1.11.0 for intended tasks"
Hi,

For Example:

[code]

After setting an intended ToDo (e.g. Sort entries...) to done, the box stays in place.
You get following output:

![image](https://user-images.githubusercontent.com/2088490/40275617-335d97a6-5bf5-11e8-9352-f44aba0e3032.png)

If you set it to Done again (removing it) you get an extra box at the beginning:
![image](https://user-images.githubusercontent.com/2088490/40275626

[2018-05-20 10:54] fabiospampinato commented on #52
Fixed in v1.11.1. Thanks a lot for reporting the issue!

[2018-05-20 10:54] #52 closed

[2018-05-20 19:53] fabiospampinato commented on #37
Implemented in v.1.14.0. Nested comments will get collapsed though.

<img width="576" alt="screen shot 2018-05-20 at 21 49 15" src="https://user-images.githubusercontent.com/1812093/40283017-249f370a-5c78-11e8-9c26-faa7b3aa0030.png">
<img width="576" alt="screen shot 2018-05-20 at 21 49 32" src="https://user-images.githubusercontent.com/1812093/40283018-24bd102c-5c78-11e8-98e2-da8cf2b542bb.png">

[2018-05-20 19:53] #37 closed

[2018-05-20 20:29] fabiospampinato commented on #25
I've decided to align this extension with [PlainTasks](https://github.com/aziz/PlainTasks). Instead of maintaining the project structure we are now adding a `@project` tag to archived todos.

<img width="576" alt="screen shot 2018-05-20 at 22 26 21" src="https://user-images.githubusercontent.com/1812093/40283339-e6c5b03a-5c7c-11e8-8366-c0dec78fa415.png">
<img width="576" alt="screen shot 2018-05-2

[2018-05-20 20:29] #25 closed

[2018-05-20 22:37] fabiospampinato commented on #8
I'll probably add support for this tomorrow.

[2018-05-21 11:09] fabiospampinato commented on #8
I'm not exactly sure what you meant there, feel free to open a separate issue if that hasn't been addressed.

I've added project-level statistics in v1.16.0, there are quite powerful, I'm pleased with the result, hopefully you'll be too:

<img width="576" alt="Project Statistics" src="https://user-images.githubusercontent.com/1812093/40304712-0d9fdd7c-5cf8-11e8-8060-4867890cc531.png">

![Project S

[2018-05-21 11:09] #8 closed

[2018-05-21 11:12] PixelT commented on #8
I meant this:
https://code.visualstudio.com/assets/updates/1_17/region-folding.gif

[2018-05-21 11:20] fabiospampinato commented on #22
How to implement this:

- We should use `@est(1h30m)` for this, perhaps we should support a shorthand tag too: `@1h30m` (less tedious to write).
- A new token (`est`) should be added  [here](https://github.com/fabiospampinato/vscode-todo-plus/blob/e2e5433d31e242055c691011c0f031e8d7bfa2f8/src/utils.ts#L452) and [here](https://github.com/fabiospampinato/vscode-todo-plus/blob/e2e5433d31e242055c691011

[2018-05-21 11:39] fabiospampinato commented on #26
As I understand it, this issue is split into two separate issues:

- Same symbols for normal/done/cancelled tasks  https://github.com/fabiospampinato/vscode-todo-plus/issues/43
- Consider any todo with the tag `@done` or `@cancelled` completed https://github.com/fabiospampinato/vscode-todo-plus/issues/44

I'm keeping this one open though, so I'll remember to update the readme about TaskPaper compa

[2018-05-21 16:25] fabiospampinato commented on #22
Implemented in v1.17.0, I'm quite pleased with the result, check it out:

![estimate](https://user-images.githubusercontent.com/1812093/40318265-518b9662-5d24-11e8-97a8-c6a153c145b9.gif)

[2018-05-21 16:25] #22 closed

[2018-05-21 17:36] raylee opened #53 "Keystroke performance regression?"
First off, thanks for the great extension!

Second, my installation updated to 1.17 today from a much older version (perhaps 1.10-ish? -- it's been a few weeks since I've restarted VS Code). What I noticed today on my existing todo file is that every keystroke has a CPU lag with it, which is really distracting.

I started a new empty todo file to see if that had the same issue. While it was unname

[2018-05-21 17:55] fabiospampinato commented on #53
This extension is quite heavy CPU-side, much more than it should. It's currently recomputing the decorations every time the content of the file changes, for every line. This thing is so unoptimized that I would consider it a bug, I'll work on this after I finish fixing some other long-open issues.

I've recently added statistics, which are quite heavy on the CPU, especially project-level statistic

[2018-05-21 17:58] raylee commented on #53
Adding "todo.statistics.project.enabled": false did the trick, it feels native speed again.

[2018-05-21 18:00] fabiospampinato commented on #53
Good. Maybe I'll disable this by default in the next update until I fix the performance issues.

[2018-05-21 18:08] raylee commented on #53
I think that's a good thing to consider. To answer your question above, I'm on a MacBook Pro (Retina, 15-inch, Late 2013), 2GHz i7, 16GB RAM, SSD system. While it's a bit long in the tooth, it's rare for something to be laggy.

[2018-05-21 20:30] fabiospampinato commented on #44
Implemented in v1.18.0.

[2018-05-21 20:30] #44 closed

[2018-05-21 20:30] fabiospampinato commented on #43
Implemented in v1.18.0.

[2018-05-21 20:30] #43 closed

[2018-05-21 20:32] fabiospampinato commented on #26
As of v1.18.0 the extension is now compatible with TaskPaper ✌️, just set `todo.symbols.box`, `todo.symbols.done` and `todo.symbols.cancel` to `-`. If you also want to hide the time rendered in the `@done` and `@cancelled` tag set `todo.timekeeping.finished.enabled` to `false`.

In case I forgot to cover some edge scenarios (I'm not a TaskPaper user after all), please open a new issue.

[2018-05-21 20:32] #26 closed

[2018-05-22 00:43] fabiospampinato opened #54 "Improve scalability"
The amount of work this extension performs scales with the number of lines, basically a file with 1000 lines will take 10 times more to decorate than a file with 100 lines.

At the moment, when the document changes, we trash all the previous decorations and start over, this will cause lags if the file is big enough.

Most of the times only one line or few lines change, usually there's no need to r

[2018-05-22 00:47] fabiospampinato commented on #53
As of v1.18.1 the extension should perform less work, I think even with project-level statistics enabled it should be faster than it was before. I'm closing this in favor of #54.

@raylee let me know if with everything enabled the extension still doesn't feel snappy enough for you.

[2018-05-22 00:47] #53 closed

[2018-05-22 12:54] sahil48 commented on #44
Thank you very much!

[2018-05-22 12:55] sahil48 opened #55 "Question about (0) after each project"
After the latest todo-plus update, I notice a (0) after every project. What does this do, and what causes the counter to up?

![image](https://user-images.githubusercontent.com/6100774/40363556-e4f1e770-5d9d-11e8-93e6-b645f4920753.png)

[2018-05-22 12:57] fabiospampinato commented on #55
Those are project-level statistics, a recent addition. That's the number of pending todos inside that project basically, but this is customizable, you can read more about them in the readme.

[2018-05-22 12:57] #55 closed

[2018-05-22 13:16] sahil48 commented on #55
Okay. When using taskpaper syntax, it seems to be working on some projects, but on most of them, the count is staying zero.

[2018-05-22 13:19] sahil48 opened #56 "Only show project-level statistics when tasks are in project"
Please show status of a project (ex. Project1: (1/3)) when there are tasks in the project. Sometimes, I use it the project as a heading for notes.

[2018-05-22 13:19] fabiospampinato commented on #55
@sahil48 You're probably indenting your todos with something other than what's set in `todo.indentation`, am I right? If not, can you paste here the content of your todo file so that I can try to reproduce the problem?

[2018-05-22 13:25] fabiospampinato commented on #56
This is tricky to do, you might want to hide project-level statistics when there are no todos inside them, somebody else might want to hide them if there are no _pending_ todos, or something else.

I'll think about it!

[2018-05-22 13:32] sahil48 commented on #55
You were right. My taskpaper file was using tabs instead of spaces. Once I converted the tabs to spaces, project statistics are working perfectly. Thanks a lot.

[2018-05-22 13:33] fabiospampinato commented on #55
No problem. Maybe this extension should support both tabs and spaces by default 🤔 Ideally there shouldn't be a need for the `todo.indentation` setting at all.

[2018-05-23 12:36] fabiospampinato commented on #54
It seems the provided APIs are too lacking to properly fix this once and for all 😕https://github.com/Microsoft/vscode/issues/50346

[2018-05-23 19:19] Cappenstein opened #57 "Project level statistics not updating"
![image](https://user-images.githubusercontent.com/7015221/40445519-4fc47e58-5e9a-11e8-9eeb-251eef2dae3a.png)

Using 1.18.2 of the extension, the statistics appear in the status bar, but they do not update on the project level.  Current project statistics line is:
"todo.statistics.project.text": "([pending] / [all])"

### VSCode version
Version 1.23.1
Commit d0182c3417d225529c6d5ad24b7572815d0de9a

[2018-05-23 19:21] fabiospampinato commented on #57
Did you set `"todo.indentation"` to `"    "` (4 spaces) ?

[2018-05-24 09:54] samael205 opened #58 "Add tags to project titles?"
Hi fabio.

I want to add tags to te titles of my projects.

A  project looks like this
![proyecto normal](https://user-images.githubusercontent.com/649740/40477928-ff5f31a2-5f47-11e8-8a9e-f7df7c8174b6.jpg)

A project with a task with a tag looks like this
![proyecto normal con tag](https://user-images.githubusercontent.com/649740/40478107-7cc8899a-5f48-11e8-8f7c-3f56f52211f7.jpg)

And a project wi

[2018-05-24 10:41] fabiospampinato commented on #58
Project-level statistics shouldn't get duplicated, I'll take a look into that.

I'm currently refactoring the repo in a major way, so let me first do that, I'll probably push an update about this today 👍

[2018-05-24 15:50] fabiospampinato commented on #58
It will, in some scenarios the number of lines in the document won't matter.

Anyway project-level statistics are still pretty heavy on the CPU, I'll probably disable them by default until I can find a solution to this.

[2018-05-24 15:51] samael205 commented on #58
Ok, but, I just realized that I have disabled a couple of extensions and now it is much better. I'm going to try another file that has more than 1500 lines

[2018-05-24 15:54] fabiospampinato commented on #58
I'm currently experimenting with a 7k+ lines file, and the situation seems much better than it is right now.

[2018-05-24 16:09] samael205 commented on #58
I've been disabling a lot of extensions, and I've noticed that every time I write fast the CPU goes up to 45% - 50%. I do not know if it's Visual Studio Code or my CPU problem. It's not your extension problem.

[2018-05-24 16:11] fabiospampinato commented on #58
If that happens also on other kind of files than it's not caused by Todo+, at least in those cases.

[2018-05-24 23:16] fabiospampinato commented on #56
Now a JS expression can be used as the `enabled` condition, by default for project it's `"global.projects < 100 && project.pending > 0"`.

[2018-05-24 23:16] #56 closed

[2018-05-24 23:20] fabiospampinato commented on #23
There isn't a `@due` tag just yet, but now you can do this:

<img width="355" alt="screen shot 2018-05-25 at 01 19 55" src="https://user-images.githubusercontent.com/1812093/40518211-c2a87d00-5fb9-11e8-967d-a96d77a876d2.png">

[2018-05-24 23:29] fabiospampinato commented on #54
As of v2.0.0 performance should be much better, I've been editing a 7k+ lines file without too many problems. Editing smaller files should feel pretty quick.

Some previous `O(n)` scenarios are now `O(1)`:

- Editing an undecorated line
- Editing a line where the decorations are fixed
- Editing a line where the entire line is decorated

I've also optimized the code quite a bit, but unfortunately I

[2018-05-24 23:33] fabiospampinato commented on #58
I've just published v2.0.0.

You should add tags to projects like this:

[code]

Rather then:

[code]

I'm keeping this open for now as it's still kind of buggy sometimes.

[2018-05-25 06:41] samael205 commented on #58
Wow, my congratulations, improved a lot!

[2018-05-25 07:19] samael205 commented on #58
Is this behavior normal?

I have the project prinicpal project
that project is divided into a task and two projects that have other tasks
The main project task will cost me a time of 1 minute.

the first task of the son project costs me a time of 1 hour

Within that project, son, I have another project, which has a task that will take 2 days and another one that will take 1h

I think the total pro

[2018-05-25 07:55] nfroeschl opened #59 "Line Color for started todo items"
It would be great if a todo line can be colorized depending on the attached tag. Especially if a task has a started tag it would be nice if this one is highlighted.

[2018-05-25 08:30] samael205 commented on #58
`"todo.statistics.project.text": "([all]) / ([pending]) - ([percentage])% - [est]"`

[2018-05-25 09:15] fabiospampinato commented on #58
Can you also post your todo file as text?

[2018-05-25 09:36] samael205 commented on #58
`Project:
    ☐ Create new project @1m @created(18-05-25 09:05)
    sub-project:
        ☐ Create a subProject @1h @created(18-05-25 09:05)
        ☐ Create another task @created(18-05-25 09:05)
        ☐ a task @created(18-05-25 09:06)
            sub-sub-project:
                ☐ again a task @2d @created(18-05-25 09:06)
                ☐ another project @1h @created(18-05-25 09:06)`

[2018-05-25 09:37] samael205 commented on #58
[prueba.zip](https://github.com/fabiospampinato/vscode-todo-plus/files/2038842/prueba.zip)
The file

[2018-05-25 10:26] fabiospampinato commented on #31
I'm closing this in favor of https://github.com/fabiospampinato/vscode-todo-plus/issues/59, which is more general.

[2018-05-25 10:26] #31 closed

[2018-05-25 10:55] fabiospampinato commented on #58
Fixed both problems in v2.0.1.

[2018-05-25 10:55] #58 closed

[2018-05-25 11:12] samael205 commented on #58
I'm sure you'll want to kill me, but I've discovered something new.

I guess the indentation establishes the projects that there are,
and that if there are two projects on the same indentation level, they are treated as different projects.

What happens now is that the hours of two different projects are added, when not indentation

[prueba.zip](https://github.com/fabiospampinato/vscode-todo-plus/

[2018-05-25 11:15] fabiospampinato commented on #58
On the contrary, the more bugs you can find the better I can make this extension :)

Let me take a look at that!

[2018-05-25 11:52] fabiospampinato commented on #58
I made a typo https://github.com/fabiospampinato/vscode-todo-plus/commit/3ad39f09aacf1800889230f31e336bae33609b0a :D

It should fixed now in v2.0.2. Let me know if you find anything else.

[2018-05-25 13:32] samael205 commented on #58
Works perfect @fabiospampinato.

Thanks!, i will post a new idea for enchancement the extension. I think that i can do a pull Request, but im not sure.

[2018-05-25 13:39] samael205 opened #60 "[Enchancement] Set done a group of selected Todo Task"
Hi,

My idea is the next,

You have a couple of todo task done, like... 7

`☐ Task 1 @created(18-05-25 15:27)`
`☐ Task 2 @created(18-05-25 15:27)`
`☐ Task 3 @created(18-05-25 15:27)`

And I have completed all three tasks,

It could be implemented that you could select all three, and hitting the combination Alt + d the three tasks would be set to done.

I do not think it is very difficult, I have a

[2018-05-25 14:35] fabiospampinato commented on #60
What do you mean? You can't start debugging?

I don't like this. The solution to this problem is multi cursors. Put a cursor in every task and mark all of them as done with a single `alt+d`.

[2018-05-25 14:35] #60 closed

[2018-05-25 14:59] samael205 commented on #60
You're right, in both parts.

I did not know that you could do that with the multi-cursor, `I have not seen it anywhere that explains it.`

And now, I have tried to compile the application, and I needed to install node and the vscode modules. I still do not know much about this node

[2018-05-25 15:00] fabiospampinato commented on #60
There's a bit of a learning curve, but don't worry, I've all been through that :)

[2018-05-25 21:47] hearsay1423 opened #61 "How do I show percentage completion on subtasks?"
I would like to see the percentage of completion on subtasks projects. Could you please explain how I can do this? I apologize, I didn't understand the documentation to enable this option. Thank you.

[2018-05-25 21:48] hearsay1423 commented on #61
Also, is it possible to change the tag colors e.g. @thistagisblue @thistagisyellow

[2018-05-25 22:02] fabiospampinato commented on #61
The default template for project-level statistics (it works only for projects, not for tasks, but you can also run `Todo: Toggle Done` on a project) is: `"todo.statistics.project.text": "([pending]) [est]"`, you have to write the `[percentage]` token in it if you want percentages to show up, so you could set it to:   `"[percentage]%"` maybe.

Yes, some customizable tags are colored, you just have

[2018-05-25 22:02] #61 closed

[2018-05-27 17:48] sahil48 opened #62 "Autosuggest tags in same document"
I know you can change the default tags. I think it would be useful if todo-plus could suggest tags the user has used in the current document or current folder.

[2018-05-27 17:52] fabiospampinato commented on #62
I like this. We should also take into account special tags and avoid suggesting them: `@created/started/done/cancelled/lasted/wasted/est`.

If anyone wants to submit a PR I'll be happy to consider it.

[2018-05-28 07:53] samael205 opened #63 "[Suggestion] Project color change when all todos set done"
It could be a good idea if the projects change color to green or to the color that the user chooses when all the tasks are done.

I know that at the end of all these tasks, the counter disappears after ':', but if you have a large project title, you must scroll horizontally

[2018-05-28 08:00] fabiospampinato commented on #63
I don't like this, it would create confusion as a green line might be a todo or a project. If you want to mark a project as "done" just execute "Todo: Toggle Done" on it and make it a done todo.

[2018-05-28 08:00] #63 closed

[2018-05-28 09:45] samael205 commented on #58
@fabiospampinato The problem of the high cost of cpu is reproduced well in this file, and it only happens when you have to apply styles in between and you are writing.
For example, when creating a new task, it is created such that:

☐ @created (05-18-28 11:37)

This task already has some defined styles, so every time you type something, the CPU grows up to 45-50%

This only happens with the files

[2018-05-28 10:28] fabiospampinato commented on #58
@samael205 you can read more about my recent performance optimizations [here](https://github.com/fabiospampinato/vscode-todo-plus/issues/54).

Unfortunately the case you mentioned isn't one of the `O(1)` cases, but maybe I could optimize that one as well, I'll have to think about it 🤔

Those files are quite big and the extension is redecorating the entire document over and over again, hence the sl

[2018-05-28 10:33] fabiospampinato commented on #54
Another currently `O(n)` scenario that could be optimized to be `O(1)` is this:

- Editing a file where decorations aren't fixed, but they are at the very end of the line. Basically editing a todo with one or more tags at the end.

[2018-05-28 14:32] samael205 commented on #58
Would not the following be a solution?
You load the file, you go line to line and apply the styles that are necessary.
Once this is done, you simply have to rewrite the styles of the line where the cursor is at that moment.

I say it for giving some idea

[2018-05-28 14:34] fabiospampinato commented on #58
@samael205 that's pretty much exactly what I would like to do, but the APIs needed for this do not exists: https://github.com/Microsoft/vscode/issues/50346

[2018-05-29 07:32] TheKiteRunning opened #64 "how to find all todo lines begined with %%"
Hi, thanks for your work, I really like the design.

I just wonder how to make todo+ work with documents like: `% todo: task1` or `%% todo: task2`

By the way, I cannot create new tasks with ctrl + enter, when I use this command, it just turns to plain text.

[2018-05-29 10:40] fabiospampinato commented on #64
Thank you :)

Do you basically want to have todos starting with `%` instead of `☐` or any of the other supported symbols?

What do you mean with "it just turns to plain text"?

Are you on Windows?

[2018-05-30 00:58] TheKiteRunning commented on #64
Thanks for your reply.

my todos are always in the comments started with `%` or `%%`

![dashborad](https://user-images.githubusercontent.com/24802332/40692974-84444bd4-63e7-11e8-9a5a-3fad1e75d881.gif)

yes, windows 8.1 64bit

Thanks again!

[2018-05-30 08:46] shvfn commented on #22
This is sooo cool! Awesome! Thanks a lot, Fabio! :)

[2018-05-30 11:12] samael205 opened #65 "Add new statistics tokens: [lasted], [wasted] and [elapsed]"
Hello,

I see that we have the token [est] that tells you the estimated time of a task, and this appears in todo.statistics.project.text. You could add a new token that is [last] that also tells you the total time the project lasted

[2018-05-30 17:27] Hexadelic opened #66 "Contributing to todo+"
Hi
Im coming from sublime to vscode, but im pretty dependant on my customised plaintasks.

Specifically my custom tags, and id like to keep my formatting (strikethrough for done tasks etc)

I can contribute to #59 as i require this also.

Iv not worked with vscode before, but i checked the source and i don't see it being much trouble to do.

But when i clone and try to run the extension (F5) i get

[2018-05-30 17:30] fabiospampinato commented on #66
@Hexadelic did you installed the necessary dependencies first? (basically running `npm install` at the root of the project)

[2018-05-30 19:48] Hexadelic commented on #66
I knew it would be something simple, that did the trick.

Your right, but i customised the plain tasks to hard code my custom tags into the plugin.
I seen that it would be much easier to do with todo+, as you already have the tags customisable.

[2018-05-31 09:40] Hexadelic commented on #66
Any ideas why this is happening:

I figured to just check if the tag is special, then just change to range to start at the start of the line rather than start of tag:

decorators/tag.ts:
`return this.TYPES.map((type, index) => {
      //Because isSpecial doesnt work for some reason...?
      var test = Consts.regexes.tagSpecial.test(tag.text);

      if(test) {
        return tag.match[index + 1]

[2018-05-31 11:17] fabiospampinato commented on #66
You didn't understand how my code works, in `getItemRanges` we are kind of trying to put the range into the right bucket (the right "type"). `getItemRanges` is written weirdly for tags, but that's a performance optimization, note how `Tag#TYPES` has the same order as `Consts.regexes.tagSpecialNormal`'s capturing groups, I'm avoiding using extra regexes, this would be a problem for very large files

[2018-05-31 11:21] fabiospampinato commented on #64
Is that a yes? Do you want to write todo files that look like this or not?:

[code]

Read the readme, ctrl+enter triggers the `Todo: Toggle Box` command, and that's exactly what's happening, the box is getting toggled. I'll have to run it on an empty line to create a new todo there.

[2018-05-31 16:05] Hexadelic commented on #66
Hmm i see, i guess il have to make do with just having coloured tags.

I probably could of made do without some of the features, but having it not change when completed is too much of an inconvenience. Thanks for your help though

[2018-05-31 16:33] Hexadelic commented on #66
Ok a workaround, i just removed the tags when completed / cancelled.
Maybe not ideal for production but should satisfy my requirements.

[2018-05-31 17:48] fabiospampinato commented on #66
There's an option for that, without needing to modify the code.

Anyway I'm closing this, feel free to open a new one if needed.

[2018-05-31 17:48] #66 closed

[2018-06-01 07:19] TheKiteRunning commented on #64
Hi, sorry for not expressing my idea clearly.
1. my script file is like the image below,and I what to extract all the Todos|Fixmes begin with % or %% by using the command `Todo: open embeded`
![image](https://user-images.githubusercontent.com/24802332/40826817-60d0d5dc-65ae-11e8-81e8-e60c3d920ab3.png)
2. I get it, it seems a little complex since we have to click `enter` and `ctrl + enter` for a ne

[2018-06-01 10:52] fabiospampinato commented on #64
You'll have to replace the default `"todo.embedded.regex"` setting with something else, maybe this? (I haven't tested it):

[code]

I think it's just a matter of getting used to it. After all you're just making a new line and executing a shortcut. You can also use `-` as your box symbol, maybe this will simplify the process a bit.

[2018-06-01 10:52] #64 closed

[2018-06-01 11:01] einaralex opened #67 "Syntax renders whitespace character as part of the sentence"
When using the setting  `editor.renderWhitespace": "all"` the syntax colors the whitespace character as a part of the sentence.

Like so:
 ✔ This·is·a·sentence

[2018-06-01 11:21] fabiospampinato commented on #67
Why are you rending the whitespace characters? :D

Anyway there's an issue about this in VSC https://github.com/Microsoft/vscode/issues/49462. I could fix this without a special option but it would complicate the code quite a bit and affect performance considerably I think.

[2018-06-01 11:21] #67 closed

[2018-06-03 12:38] sahil48 commented on #23
Nicely done. Is there a way to change the @est tag into a tag like @scheduled or @due in the settings?

[2018-06-04 09:26] Hexadelic opened #68 "Remove tags when completed"
You mentioned on my other issue about there is already an option to remove the tags when completed, without modifying the code.
I can't seem to find it within the settings anywhere?

[2018-06-04 11:33] einaralex commented on #67
I like having them visible to see my indenting and trailing whitespaces :)
Changing the editor.renderWhitespace value to "boundary" instead of "all" does the job.
Great extension btw, use it every day! Thanks :D

[2018-06-04 12:11] fabiospampinato commented on #67
Thank you :)

[2018-06-06 19:44] rbenson commented on #62
I don't know if autosuggest is the right word, but if i did `some task @high @callback` the next time I hit @ `callback` appears with high/low/etc. Sandy081's todo's ext has this, and I believe you used his as a basis for todo-plus. It has to do with implementing typings, which I have zero idea how to make work.

[2018-06-06 20:38] fabiospampinato commented on #62
@rbenson I can't reproduce what you're saying in [vscode-todotasks](https://github.com/sandy081/vscode-todotasks):

<img width="639" alt="screen shot 2018-06-06 at 22 37 25 1" src="https://user-images.githubusercontent.com/1812093/41063913-4c5a7e48-69da-11e8-849f-c0cd909c6883.png">

[2018-06-07 00:51] rbenson commented on #62
@fabiospampinato sorry, i think  it broke a few versions ago. The ext is no longer maintained, but over a year ago it worked. Somewhere I remember [typings](https://github.com/typings/typings) were used to make the file "aware". I remember wanting to implement it into a thing I was building, but was over my head.

[2018-06-07 07:17] fabysdev opened #69 "done symbol color does not change in vscode 1.24"
Hi.

The done symbol does not change the color in vscode 1.24

Config:
[code]

TODOs:
[code]

Output:
![image](https://user-images.githubusercontent.com/2088490/41084056-59ce99fc-6a33-11e8-847f-192da15d118d.png)

[2018-06-07 09:16] fabiospampinato commented on #62
@rbenson I don't think typings had anything to do with it, after all the code does get compiled to untyped javascript. 🤔

[2018-06-07 09:29] fabiospampinato commented on #68
@Hexadelic Sorry for the delay, I must have missed this issue.

Yes you can tell Todo+ to not write the `@done` and `@cancelled` tags, this is the option you're looking for:

[code]

[2018-06-07 09:29] #68 closed

[2018-06-07 09:31] samael205 commented on #69
Like this
And I have not modified that configuration
![todoerror](https://user-images.githubusercontent.com/649740/41091119-253851f2-6a46-11e8-8157-48671f7f3420.jpg)

[2018-06-07 09:32] fabiospampinato commented on #69
@samael205 what's the problem exactly, does the "✔" look different now?

[2018-06-07 09:34] samael205 commented on #69
@fabiospampinato Exactly, it does not look like the first time I installed it. It's silly, but I do not understand why this has changed me

[2018-06-07 09:35] fabiospampinato commented on #69
@samael205 I have no clue. We certainly didn't change anything. Are you on Windows?

[2018-06-07 09:38] samael205 commented on #69
Yes, @fabiospampinato You can pass me the done icon that appears in the gifs of the repository, to see if establishing it, changes?

[2018-06-07 09:44] fabiospampinato commented on #69
@samael205 I just pasted it here a few messages earlier. You can also get it from the readme.

[2018-06-07 09:53] samael205 commented on #69
Yes,  In relation to the question that, yes, it looked like this before, and it looks now as you see it in the screenshot

[2018-06-07 09:54] fabysdev commented on #69
@fabiospampinato did you change the color settings?  Looks like you did not because the text is also green.

Maybe it is a windows problem, because i am also seeing the change @samael205  mentioned. It seems like the done symbol is wider now.

[2018-06-07 09:56] fabiospampinato commented on #69
@fabysdev I didn't push any update recently. It also looks like a Windows problem to me, I don't have it on macOS. I see from your screenshot that done/cancelled todos are not properly colored either, this is probably a bug of the extension, but I can't reproduce it.

[2018-06-07 10:00] fabysdev commented on #69
@fabiospampinato Cancelled looks correct in my screenshot, i changed the color ` "todo.colors.cancelled": "#949494"`. The text color of the done is also correct, because of` `"todo.colors.done": "#949494",`. Only the symbol is forced to green.

I assume there was a change in the vscode theme in 1.24 on windows. because the symbol is also green in the settings. Maybe there is a way to force the col

[2018-06-07 10:14] fabiospampinato commented on #69
Yeah I think so, I've opened an issue about that https://github.com/Microsoft/vscode/issues/51335.

That's what we are doing for making it green, VSC is just ignoring our decorations or something.

[2018-06-07 10:15] fabysdev commented on #69
@fabiospampinato  Thanks. It is just that specific symbol.

The other check symbol  "✓" works.

[2018-06-12 10:50] fabiospampinato commented on #69
They have reverted the commit that caused the problem, this will be fixed in the next release. https://github.com/Microsoft/vscode/issues/51335

[2018-06-12 10:50] #69 closed

[2018-06-12 10:58] fabiospampinato commented on #23
Nope, that's supposed to be used for time estimates only, and I guess no-one would want to write `@estimate` instead of `@est` 🤔

Sorry 😅 It could be worse if your nickname was `@done` though.

[2018-06-12 12:34] loktionov129 commented on #65
Hello, @fabiospampinato

The new tokens do not correctly form time. They get calculated seconds from host machine time.
For example:

I Have TODO file:
[code]

### 18-06-12 19:23:42
I am going to line 3 and pressing ALT+S
[code]

### 18-06-12 19:23:49
I am pressing ALT+D
[code]

---

I think would be better if you provide correct seconds for this case. It should be a `7s` instead of `49s`.
Or is i

[2018-06-12 12:38] fabiospampinato opened #70 "Elapsed time may not be accurate to the second"
Message from @loktionov129, moved to its own issue:

[2018-06-12 12:40] fabiospampinato commented on #70
@loktionov129 that's kinda by design, if we don't save the seconds when starting a todo we can't know on what second it started.

If you want elapsed times accurate to the seconds you'll have to set:

[code]

Or something like that.

[2018-06-12 12:40] #70 closed

[2018-06-12 13:21] samael205 commented on #69
Thanks

[2018-06-12 13:43] WilliamStone opened #71 "Archived tasks should keep its place in project structure"
Currently when archiving, completed tasks will be moved to Archive section, which is a plain list, making archived tasks lose their project information. Though it can be configured to generate @project tag, it is hard to review relationships among tasks.
I wonder if it's possible to retain project structure while moving completed tasks to Archive section like this:

//---------------- Original TOD

[2018-06-12 13:44] fabiospampinato commented on #71
Duplicate of https://github.com/fabiospampinato/vscode-todo-plus/issues/25.

[2018-06-12 13:44] #71 closed

[2018-06-13 14:37] gsabater opened #72 "Problem with paths on folders with white spaces in folder name"
Hello,

First of all, nice extension.
I have found an issue though, when I open embedded todos in my whole project, the @file link is broken due to white spaces in the folder name, thus breaking the alt+click option to open the file.

Other extensions solve this by urlencoding paths.

Thanks for your time

[2018-06-13 14:40] fabiospampinato commented on #72
Oh right, I don't use folders with spaces in their names for my projects so I never encountered this problem.

I guess I'll have to update a few of my extensions then.

Thanks for reporting the issue! 😄

[2018-06-14 13:59] Quentigus opened #73 "add a "todo.colors.created" setting"
Please add an "todo.colors.created"  setting to allow customisation avec the @created tag
Thanks

[2018-06-14 14:00] fabiospampinato commented on #73
Duplicate of https://github.com/fabiospampinato/vscode-todo-plus/issues/33.

[2018-06-14 14:00] #73 closed

[2018-06-14 14:07] Quentigus opened #74 "improve "Enter" key"
When I press the "enter" key and the cursor is placed before the tags, they go to the next line.
It would be more convenient if they stay on the same line

Thanks

[2018-06-14 14:12] fabiospampinato commented on #74
Does this happen after you accept a tag completion? (Type `@` and then select one of the suggested tags)

Can you post here a screenshot of the issue, or even better a GIF? I'm not quite sure if I understood the issue correctly.

[2018-06-14 14:41] fabiospampinato commented on #74
Oh I see, thanks a lot for the recording. This is done on purpose, in most of the cases I think this is what you want to happen.

Instead of writing the content of the todo and then running `Todo: Toggle Box` you should do the opposite.

[2018-06-14 14:41] #74 closed

[2018-06-15 07:37] Quentigus commented on #74
When I do "toggle box" I've the same result :(

It would be interesting if there is the same behavior as the (X) after the name of a project

[2018-06-15 11:31] fabiospampinato commented on #74
You're right, sorry, I think I was thinking about how it worked before I pushed the commit for repositioning the cursor, which is the thing you don't like. Before that commit you couldn't just create a todo and then just write it's content, because if you had the `@created` tag enabled your cursor would be positioned after it. That's basically the problem it fixes.

For your use case just go to th

[2018-06-15 15:13] CodeRevver opened #75 "Shortcut for inserting Date"
Would be great to add a shortcut that could insert a date to save people typing it out.

I often create a todo list each day and type it out manually like so:

![image](https://user-images.githubusercontent.com/5285928/41475462-c3fbdbf8-70b6-11e8-91c1-be3fd34cf6bf.png)

A keyboard shortcut that could insert it for me would be awesome.

Submitting this here to see if anyone doesn't want it in the e

[2018-06-15 17:04] fabiospampinato commented on #75
This doesn't seem general enough to me to be integrated in the extension itself.

You should write another extension for inserting those, or just a little snippet using this extension: https://marketplace.visualstudio.com/items?itemName=mkloubert.vs-script-commands.

[2018-06-15 17:04] #75 closed

[2018-06-20 19:33] neomacedo opened #76 "[Improvement] New Status (In Progress/Doing, Postponed, Won't Do/Unecessary)"
Will be great to have these new Status:

In Progress / Doing
Postponed
Won't Do / Unecessary

[2018-06-20 21:05] ihccdeveloper opened #77 "[Customization Request] Symbol color customizations"
Firstly, this is a great plugin. I love the counters and percentages and all the tags that set this one apart from the others. Great job, thank you. This was a nice easy transition from Atom's version I used.

There is once slight difference that I wish I could change, the symbol markers color.

![capture](https://user-images.githubusercontent.com/40176702/41684577-70e6e426-74a3-11e8-86df-7cfc1b1b

[2018-06-20 22:03] fabiospampinato commented on #76
I'm closing this as a duplicate of https://github.com/fabiospampinato/vscode-todo-plus/issues/59 as the latter is more general.

[2018-06-20 22:03] #76 closed

[2018-06-20 22:07] fabiospampinato commented on #77
VSC added a commit that broke this, before on Windows the symbols were actually colored as the rest of the todo. They reverted the change and I think everything should go back to normal with the next release.

Read https://github.com/fabiospampinato/vscode-todo-plus/issues/69 and the upstream issue for more details.

[2018-06-20 22:07] #77 closed

[2018-06-29 13:13] Jayphen opened #78 "Global todo files"
I keep all of my todos in a .txt file that is stored in Dropbox (so I can use it with Taskpaper as well as VSCode).

Currently it's only possible to access a todo file that is in a path relative to the project root. Would it be possible to instead reference any path on your machine, or is this not possible with VSCode? I'm currently using a symlink in every project, but would be nice if this could

[2018-06-29 22:17] fabiospampinato commented on #78
I actually made a standalone app for this use case, you might find it useful: https://github.com/fabiospampinato/noty

I like the idea of global todo files, but I'm not sure if what you suggest is general enough :thinking:

I think you should just make an extension for VSC that adds a command to the command palette or the statusbar for opening that file. Maybe one of those extensions that add favo

[2018-06-30 01:20] benyaminl opened #79 "[QUESTION] Why the TODO+ doesn't index PHP"
Hello, I've TODO on php files, but when open embeded TODO, it doesn't being indexed. Is there maybe settings that I miss? Thanks

my todo is in
`
/**
* TODO : DO SOMETHING
*/
`

[2018-06-30 07:36] fabiospampinato commented on #79
That kind of todos aren't found by this extension.

We have a setting for customizing the regex used for finding todos, maybe you can customize it to fit your needs.

[2018-06-30 07:36] #79 closed

[2018-06-30 10:55] benyaminl commented on #79
Okay.. thanks.
I've edit the regex.

Sent from My Asus Pegasus X005

Pada tanggal Sab, 30 Jun 2018 14.36, Fabio Spampinato <
notifications@github.com> menulis:

[2018-07-04 20:52] fabiospampinato commented on #72
Fixed in v.2.1.4. Thanks again!

[2018-07-04 20:52] #72 closed

[2018-07-10 15:20] JohnBarkerPG opened #80 "Archived items should retain parent project"
I think items moved to the archive section should retain the parent project that they were originally assigned to.

At the moment, you end up losing some context when items are moved to the archive as they end up in a flat list.

[2018-07-10 15:44] fabiospampinato commented on #80
Duplicate of https://github.com/fabiospampinato/vscode-todo-plus/issues/25.

[2018-07-10 15:45] #80 closed

[2018-07-10 22:42] nareshtedla opened #81 "When we Archive, archive tasks under Project"
I usually classify various tasks under projects and at a time, I may have several projects.
When I archive a task, I dont get the same hierarchical project structure that I have for tasks rather completed/cancelled tasks from different projects go under archive with no Hierarchy.

Can you add a feature where archive also happens per project basis?

Another option is to hide completed/cancelled tas

[2018-07-10 22:43] #81 closed

[2018-07-10 22:43] nareshtedla commented on #81
Duplicate of #25

[2018-07-18 13:52] OthoGarcia opened #82 "Question about open embedded"
Can I get all my todos get from open embedded and put in my todo file?

[2018-07-18 13:58] fabiospampinato commented on #82
Not automatically, you'll have to manually move them.

[2018-07-18 13:58] #82 closed

[2018-07-19 20:53] quantos-unios opened #83 "Adding negation '!' in "exclude" glob array returns "No embedded todos found""
Hi, Thank you for creating this awesome extension. You guys are doing great. I really like this extension. Currently I am facing an issue

My exclude settings are as follows:

[code]
What I expect for todo-plus is to ignore all files in **"js"** folder except **"js/main.js"** but adding **'!'** in front of **"js/main.js"** doesn't generate TODOs list and shows notifications **"No embedded todos fo

[2018-07-19 21:10] fabiospampinato commented on #83
Thank you :)

It feels a bit weird to have negative globs for "exclusion", but I think it actually makes sense.

Anyway this is an upstream issue, the globs are handled by [globby](https://github.com/sindresorhus/globby) which in turns uses [fast-glob](https://github.com/mrmlnc/fast-glob) under the hood, that seems to be to source of this problem (https://github.com/mrmlnc/fast-glob/issues/86 http

[2018-07-20 18:36] quantos-unios commented on #83
@fabiospampinato Thank you for quick reply,

Yeah it definitely isn't an issue with vscode-todo-plus then, from linked issues to fast-glob, it looks like lot of people are expecting this functionality in fast-glob. My hopes are high, may be we get this functionality in fast-glob soon. :)

Anyway I tried adding **"js"** in **exclude glob** and **"js/main.js"** in **include glob** and it worked, it

[2018-07-20 18:36] #83 closed

[2018-07-21 15:20] mrquantos opened #84 "'@file://' link for "js" files goes to new line on "Todo: Open Embedded" while not for "php" files"
Hi, Thank you for creating this awesome extension

Currently, I am facing a bug, that the TODOs generated from "Todo: Open Embedded" command are not formatted correctly for **"js"** files. TODOs generated from **"js"** files contains **'\n'** at the end of TODO "line" but this bug isn't present in other files (I only checked for **"php"** files).

Anyway, I found out that changing **"trimStart"**

[2018-07-21 17:55] quantos-unios commented on #84
@fabiospampinato Ok here is "Todo: Open Embedded" output with **trimStart** function

![screenshot from 2018-07-21 22-46-29](https://user-images.githubusercontent.com/18618510/43038722-61c204e6-8d38-11e8-9194-51c5aa2ab121.png)

and following output is with **trim** function

![screenshot from 2018-07-21 22-43-01](https://user-images.githubusercontent.com/18618510/43038749-c457ad36-8d38-11e8-8253-0

[2018-07-21 20:01] fabiospampinato commented on #83
Nice, I'm glad you found a solution to this.

[2018-07-21 20:10] fabiospampinato commented on #84
@quantos-unios I see the problem, but I don't understand why this happens, [here](https://github.com/fabiospampinato/vscode-todo-plus/blob/d392af623b07ec0fdcd7afe9ee708fe2fdf09f75/src/utils/embedded.ts#L61) we should be affectively stripping out newline characters 🤔.

Could you post here an actual file that causes this problem for you? I'll have to reproduce it to understand it.

[2018-07-21 21:13] quantos-unios commented on #84
@fabiospampinato Ok I have attached the two files "main.js" which have this issue and "TeacherController.php" file which doesn't have this issue, also screenshots of output are included with **"trimStart"** function and **"trim"** function.

However, I have removed the actual code from files because I do not own it and it is proprietary but the bug is still reproducible here.

[tp-issue.zip](https

[2018-07-22 08:18] quantos-unios commented on #84
@fabiospampinato I have removed all empty lines from "main.js" and "TeacherController.php" and console logged output of [lines](https://github.com/fabiospampinato/vscode-todo-plus/blob/d392af623b07ec0fdcd7afe9ee708fe2fdf09f75/src/utils/embedded.ts#L61) next to the line and copied the output to vs-code for both "main.js" and "TeacherContorller.php". Here is what I did

![screenshot from 2018-07-22

[2018-07-22 08:41] quantos-unios commented on #84
Ok I think I have found the bug, it isn't a problem with "js" or "php". If you change file's line encoding to **"CRLF"** from **vs-code status bar** then this bug occurs while if line encoding is **"LF"** then it works fine on all files.

To reproduce bug change line encoding

![screenshot from 2018-07-22 13-37-54](https://user-images.githubusercontent.com/18618510/43043847-85f3a6c2-8db4-11e8-81fe

[2018-07-22 16:16] fabiospampinato commented on #84
Thanks for debugging this for me 😄I'll fix this as soon as I get enough free time, I suspect I might have to update a few other extensions of mine as well.

[2018-07-22 16:47] quantos-unios commented on #84
No problem. It was pleasure debugging it :smile:

[2018-07-24 17:42] sahil48 opened #85 "Feature Request: Folding by Tag, tasks only, etc, and custom folding settings"
I am looking for some improvements to folding built into in vscode-todo-plus to make it easier to more easily navigate through longer todo-lists, and where tasks for a project or time of day are spread throughout the document.

For example, fold everything but lines that have the tag @critical, etc. Fold all comments and only show active tasks and projects. Fold everything but projects.

It would

[2018-07-24 23:09] fabiospampinato commented on #85
This is partially a duplicate of https://github.com/fabiospampinato/vscode-todo-plus/issues/18.

Unfortunately there are no APIs for folding arbitrary lines (https://github.com/Microsoft/vscode/issues/37682).

I'm personally not a fan of those region/endregion things, I see very limited use for them 🤔

[2018-07-24 23:34] bachirelkhoury opened #86 "@lasted is not being displayed when completing a @started task"
The tag **lasted** is not showing when I complete a **started** task.
I can see the counter in the status bar while working though.

I do have these default settings:
[code]

Visual Code Studio 1.25.1
2018-07-11T15:27:07.646Z

[2018-07-24 23:43] bachirelkhoury commented on #86
After trying this on a new computer I realised I had another extension conflicting with this one. Language Mode was being picked as "Task" instead of "Todo"
removed the other extension and now all works fine.

[2018-07-24 23:43] #86 closed

[2018-07-25 19:44] usernamehw opened #87 "Use the entire range for titles for symbol provider"
Issue Type: <b>Feature</b>

There is a new available feature (at least in insiders) - breadcrumbs. It still matters though even without that feature.

Currently symbol provider highlights only 1 line (without any nested (children) lines):
![todo_demo](https://user-images.githubusercontent.com/9638156/43223275-414efb76-905b-11e8-9bad-8534a63a630f.png)

More useful providers (like js) highlight the

[2018-07-25 20:07] fabiospampinato commented on #87
Thanks for the suggestion, I'll investigate this.

Feel free to submit a PR for this if you want.

[2018-07-30 14:18] micxer opened #88 "Add ability to toggle time tracking for a task"
Just switched from SublimeText and PlainTasks. I am missing the option to toggle the time tracking on a task when switching to another one. That would make the time tracking even more useful.

Otherwise the extension made the migration to VS Code a least possible.

[2018-07-30 14:38] fabiospampinato commented on #88
That's definitely a thing to add, thanks for the suggestion.

[2018-08-01 01:04] fabiospampinato commented on #84
Fixed in v2.3.0. Thanks again for the help!

[2018-08-01 01:04] #84 closed

[2018-08-01 01:04] fabiospampinato commented on #87
Fixed in v.2.3.0.

[2018-08-01 01:04] #87 closed

[2018-08-07 14:20] s-kashif opened #89 "Allow ignore certain directories when searching for TODOS"
Sometimes there are hundreds TODOs in the imported libraries/build etc. which we would be nice to exclude

[2018-08-07 21:42] fabiospampinato commented on #89
This is already supported via the `"todo.embedded.exclude"` setting.

[2018-08-07 21:42] #89 closed

[2018-08-09 19:51] fabiospampinato commented on #18
It's still impossible to properly implement this, but as of v3 this extension contributes a view to the activity bar that can be filtered by any arbitrary string. 👍

[2018-08-09 19:52] fabiospampinato commented on #85
It's still impossible to properly implement tag folding, but as of v3 this extension contributes a view to the activity bar that can be filtered by any arbitrary string. 👍

[2018-08-09 21:51] pochka15 opened #90 "Cannot find my embedded files"
![image](https://user-images.githubusercontent.com/24525928/43927718-18b2f77a-9c37-11e8-95f7-23b470694cdb.png)
Didn't change my settings, but after updating to 3.0.0 it throws error while looking for embedded todos.

[2018-08-09 21:59] fabiospampinato commented on #90
Can you share your settings?

[2018-08-09 23:46] PixelT opened #91 "command not found"
I updated extension to version 4.0
Now when I open it on activity bar and click refresh on File / Embeded bar, I get an error:
`command 'todo.viewEmbeddedRefresh' not found`
`command 'todo.viewFileOpen' not found`
also both panels are empty (even if I have todo.todo file or if I write inline TODO: in file)

[2018-08-10 01:04] nealot opened #92 "View feedback"
Hey, I switched over from Todo-Tree because your extensions are always really impressive. I know you've only just added the todo view, but here are my suggestions for features:

1. Custom icons
2. Fix '/' character for file names (see below)
![screenshot_20180809_210031](https://user-images.githubusercontent.com/36805289/43933368-559268a8-9c17-11e8-8697-815dd54844a6.png)
3. Remove extra space betw

[2018-08-10 01:44] fabiospampinato commented on #91
Are you seeing any other errors? I think the extension isn't activating properly, otherwise those commands should get registered.

[2018-08-10 01:45] fabiospampinato commented on #90
You might have to, v3 and v4 feature breaking changes, read the changelog.

[2018-08-10 01:51] fabiospampinato commented on #92
Thanks :)

You can have them in custom colors already, isn't this enough?

I replace the forward slash with another character because of this issue https://github.com/Microsoft/vscode/issues/56106. But it's not properly rendered in your system (damn Windows!), in v4.0.4 I'm not using the normal forward slash, but I had to remove the filetype icons.

There's no extra space that I can remove, the ic

[2018-08-10 01:51] #92 closed

[2018-08-10 02:05] nealot commented on #92
Oh darn, those file icons were really helpful :(

[2018-08-10 02:11] fabiospampinato commented on #92
You may want to comment on that issue I linked, maybe they'll fix the problem in the next iteration.

[2018-08-10 02:11] tiansin opened #93 "Embedded refresh undefined"
I click the refresh button, a undefined.
![1](https://user-images.githubusercontent.com/4232281/43935256-acde62ce-9c85-11e8-9520-f1b0f85ee6c1.png)

[2018-08-10 02:15] fabiospampinato commented on #93
I think you'll have to update your `todo.embedded.regex` setting.

v3 and v4 featured breaking changes.

[2018-08-10 02:32] tiansin commented on #93
[front.zip](https://github.com/fabiospampinato/vscode-todo-plus/files/2276389/front.zip)
![gif](https://user-images.githubusercontent.com/4232281/43935899-a31dcf9c-9c88-11e8-9b4d-ac10031f5fc3.gif)

I recorded a animation and test directory and upload the animation.

[2018-08-10 02:39] fabiospampinato commented on #93
I can't reproduce it.

I see the relative paths of files, instead of their absolute path, as it was meant to be:

<img width="294" alt="screen shot 2018-08-10 at 04 38 40" src="https://user-images.githubusercontent.com/1812093/43936070-4787a3fa-9c57-11e8-9492-45b77cdb473c.png">

Maybe there's an issue with those chinese (?) characters or something, can you send me the full path to that "front" dir

[2018-08-10 02:42] tiansin commented on #93
@fabiospampinato
Yes, the directory contains Chinese, which is the directory I used when testing.
`E:\桌面\front`

[2018-08-10 03:06] nealot opened #94 "File view doesn't work when using less than 2 or more than 3 spaces"
If a nested todo is indented using less than 2 spaces, it is added directly below the parent:
[code]
If it is more than 3 spaces, it disappears:
[code]

[2018-08-10 04:15] nealot commented on #94
I've already set todo.indentation but the view seems to ignore it.

[2018-08-10 06:16] fabysdev commented on #93
@fabiospampinato I also have the "undefined".

For me it happens in an workspace with 2 directories:
![image](https://user-images.githubusercontent.com/2088490/43941631-2b56d598-9c75-11e8-86a5-e6c078b97ad8.png)

The first time i go to the tab it is not grouped by root.
![image](https://user-images.githubusercontent.com/2088490/43941635-2f676c24-9c75-11e8-9ac5-cecd5880639d.png)

If I press the refr

[2018-08-10 06:26] fabysdev opened #95 "Option to only show filename for embedded todos view"
Hi,

Great updates, thank you.

It would be nice if one could change the embedded views todos  to only show the filename without the full path. Or maybe to remove the directory path from the name.

Because of the long path I am not seeing the actual filename.
![image](https://user-images.githubusercontent.com/2088490/43942074-ec44e08c-9c76-11e8-8622-7c053454e961.png)

Thanks.

[2018-08-10 06:43] pochka15 commented on #90
Thanks, v4 fixed bug!

[2018-08-10 09:10] PixelT opened #96 "Performance in big projects"
I just installed magento2 on my localhost.
There is a lot `TODO``BUG``FIX` and other tags  in magento files, for example when I search `TODO` in files I have:
`915 results in 385 files`
When I try to open TODO section, I have infinite loading there, which finally hang the editor

I thought when I set this:
[code]
It will search ONLY in this one file, but it doesn't work in this way?

[2018-08-10 09:15] PixelT commented on #91
Ok I found what was wrong:
I had `todo.file` instead of new `todo.file.name`

Now I set:

`"todo.file.name": "todo.todo"`

and I created a file `todo.todo`, but when I open TODO in activity bar, I still have info in File tab:

`No todo file found`

Refresh button didn't help, after click on Open option I get an error:

`You have to open a project before being able to open its todo file`

I'm using

[2018-08-10 10:02] fabiospampinato commented on #95
That's how it's supposed to work, but for some reason it's not working on windows 🤔

[2018-08-10 10:06] fabiospampinato commented on #91
This should mean that you didn't have any folder open in VSC, therefore no place where to find/create your `todo.todo` file.

Do you see this happening also when you have at least a folder open in VSC?

[2018-08-10 10:08] PixelT commented on #91
But I normally have files when I open explorer tab, and there is `todo.todo` file...

[2018-08-10 10:10] fabiospampinato commented on #96
I've just tried the extension with a project of mine containing about 700 embedded todos, and it takes 5 seconds to fetch them in my machine. Performance should degrade not with the number of todos, but with the number of files and lines, maybe magento2 has lots of those.

Anyway subsequent refreshes should be pretty quick, aren't they?

It should work that way, but it's looking for thinks like `/

[2018-08-10 10:11] #90 closed

[2018-08-10 10:11] fabiospampinato commented on #93
It might be a Windows issue then, I'll look into that, thanks.

[2018-08-10 10:13] fabiospampinato commented on #91
There's no API for detecting the currently open file, you have to open a folder for this to work.

[2018-08-10 13:00] fabiospampinato commented on #93
I can reproduce this when using Windows, fix coming soon 👍

[2018-08-10 13:57] fabiospampinato commented on #92
Fixed properly in v4.0.5, with filetype icons supports.

[2018-08-10 13:57] fabiospampinato commented on #95
Should be fixed in v4.0.5.

[2018-08-10 13:57] #95 closed

[2018-08-10 13:57] fabiospampinato commented on #93
Should be fixed in v4.0.5, thanks for reporting the error!

[2018-08-10 13:57] #93 closed

[2018-08-10 14:11] fabiospampinato commented on #91
As of v4.0.6 it now checks if the configuration is invalid and it shows a descriptive error if that's the case.

This feature might be removed in the future, but for now it's useful given that I've pushed a few breaking changes.

[2018-08-10 14:11] #91 closed

[2018-08-10 14:43] sahil48 commented on #85
You are awesome! Thank you so much. I'm sure one of these days, they'll allow tag folding, just like they finally implemented proper split screening after so many years.

In addition to active open files, can you also extend the activity bar view to any todo-supported files loaded in the explorer, with a toggle to switch between active and all files?

[2018-08-10 15:13] fabiospampinato commented on #85
Unfortunately there's also no API for retrieving the list of currently opened files.

Would displaying all found todo files, and not just the one defined in the "todo.file.name" setting, solve your problem?

[2018-08-10 15:39] sahil48 commented on #85
You may also want to take a look at the following extension (https://marketplace.visualstudio.com/items?itemName=Gruntfuggly.todo-tree)

[2018-08-10 16:15] fabiospampinato commented on #85
Maybe I'll implement that. I also want to better support mult-root workspaces.

Yeah I know about todo-tree, it

[2018-08-11 09:49] johnRivs opened #97 "Commands broke?"
I just started getting these.
![](https://i.imgur.com/xnj7ouD.png)

[2018-08-11 10:34] fabiospampinato commented on #97
Read the messages, we renamed some settings, you have to update your settings accordingly.

[2018-08-11 10:34] #97 closed

[2018-08-11 10:44] johnRivs commented on #97
![](https://i.imgur.com/jW7JAbi.png)
![](https://i.imgur.com/I7fsNJ0.png)
![](https://i.imgur.com/59daqbL.png)

What settings do I need to update? Default keybindings? Personal keybindings? Default user settings? User settings?

[2018-08-11 11:26] fabiospampinato commented on #97
Read the other messages, it tells you exactly what to change.

[2018-08-11 11:28] johnRivs commented on #97
Oh, it seems like the command wasn't getting registered. Thanks!

[2018-08-11 12:05] fabiospampinato commented on #97
It wasn't getting registered because the extension threw an error because the configuration was invalid.

[2018-08-12 03:13] nealot opened #98 "Problems with views"
### Embedded
"todo.embedded.exclude" is not working. On each subsequent refresh, more files from excluded directories are displayed.

Steps to reproduce:

1. Enter a workspace containing folders/files listed under todo.embedded.exclude like node_modules
2. Refresh todos multiple times to watch the tree grow

In addition to this, could "todo.embedded.view.wholeLine" trim leading and trailing whites

[2018-08-12 11:33] fabiospampinato commented on #98
What version of Todo+ are you using? What OS are you using?

[2018-08-12 13:42] fabiospampinato commented on #98
I can't reproduce this, not on macOS nor on Windows. Can you zip me a folder where you see this happening? And can you paste here your settings if you changed them?

I believe leading whitespace characters are trimmed automatically by VSC, I can't see them on macOS and Windows. Are you using tabs instead of spaces? (Maybe those are not trimmed? I don't know)

IMO, unless for some reasons you're no

[2018-08-12 16:27] nealot commented on #98
Just visiting the installation folder of this extension I can reproduce the problem with default settings. I'm running Arch Linux with the latest release of todo+. I'm also using 4 spaces as the indentation.

[2018-08-12 23:41] fabiospampinato commented on #98
@nealot can you check if whitespaces are trimmed for you in v4.1.0?

[2018-08-12 23:47] fabiospampinato commented on #96
I've optimized the hell out of this, install [ag](https://github.com/ggreer/the_silver_searcher) on your system and finding todos will be like 50 times faster. On magento2, it went down from 210 seconds to 4 seconds on my system.

Unfortunately the whole thing might still take a bit, because VSC itself is quite slow at rendering the tree https://github.com/Microsoft/vscode/issues/56234.

[2018-08-12 23:48] #96 closed

[2018-08-13 01:45] nealot commented on #98
Yeah the whitespaces are trimmed when enabling whole lines now.

[2018-08-13 02:54] nealot commented on #98
Thanks for the tip about the hovers!

Here is what I see when testing out the different providers:

## Using Ripgrep (after pressing refresh)
![screenshot_20180812_224938](https://user-images.githubusercontent.com/36805289/44010726-21179fb8-9e82-11e8-95c0-83510cad8407.png)

## Using silver searcher
![screenshot_20180812_224841](https://user-images.githubusercontent.com/36805289/44010727-2129562c-9

[2018-08-13 03:05] nealot commented on #98
On a side note, it would be neat if vscode added an api for badges so you could see how many todos exist.

[2018-08-13 07:37] muuvmuuv commented on #98
@fabiospampinato what would be the default regex for ripgrep? I get a similiar problem also also a huge CPU load when using AG provider each time I change the view or add a include to the embedded.

[2018-08-13 07:45] muuvmuuv opened #99 "Add a debug option"
Would be nice to see what todo+ is actually doing; which regex is running on which file if there is any error/warning, show excluded regex and included regex, ...

This would help to maintain problems.

[2018-08-13 10:38] fabiospampinato commented on #99
There's only one regex, the one defined in `todo.embedded.regex`

Outputting which files are being searched for will slow down things in some cases, just keep in mind that include and exclude patterns are only supported by the `javascript` provider so far.

If there's an error when running `ag` or `rg` it should output that to VSC's console. If there's an error while reading a file it will fail si

[2018-08-13 10:38] #99 closed

[2018-08-13 11:36] muuvmuuv commented on #98
Yep, I'll work with `ag`, it works better with vscode.

Nope, but from other directories that are excluded:

[code]

Those *administrator* and *plugins* are still in the embedded view.

[2018-08-13 11:41] fabiospampinato commented on #98
Include and exclude patterns aren't currently supported by `ag` and `rg`. Besides, as I mention in the readme, `ag` doesn't support double-star patterns (those containing `**`), even though it says it does.

I'll fix this in the next release on the one after that 👍

[2018-08-13 11:52] muuvmuuv commented on #98
Ah okay, I just copied the double-stars from your docs, that's why I thought it would work. I'll wait for the next release. And javascript is the only one who can exclude and include right? But doesn't `rg` can also exclude files?

[2018-08-13 11:59] fabiospampinato commented on #98
Both `ag` and `rg` can exclude stuff, they parse your `.gitignore` file, or, if you have one, your `.ignore` file. So at the moment if you want to filter something with them you'll have to put your exclude patterns in there (I think that should work). Just keep in mind that `ag` doesn't support double-star patterns.

[2018-08-14 10:09] claudiodangelis opened #100 "Include TODO count in sidebar's icon"
Do you think it is possible to include the number of TODOs in the sidebar's icon like other extensions do?

![image](https://user-images.githubusercontent.com/941963/44085668-830d1f02-9fba-11e8-852e-d1001ff6d795.png)

In the screenshot, the git extension icon shows the number of pending changes.

If possible, I would like to help you on this, thank you!

[2018-08-14 11:37] EvgeniyMakhmudov commented on #98
Refresh in Embedded does not working. I must execute "reload window" of vscode to todo-list process new config file.
New release have also another bugs.

[2018-08-14 14:08] fabiospampinato commented on #98
@EvgeniyMakhmudov can you open a separate issue about that? Let's see what can be done. We are currently caching some values for performance reasons.

[2018-08-14 14:10] fabiospampinato commented on #98
I've just pushed v4.1.1, I think everything mentioned here has been fixed (check the changelog for more info) except maybe the bug that causes files from `node_modules` to be searched, can somebody test if that's still a problem?

The release is still not perfect though, there's at least another little problem to fix, but I'll be busy during the next ~24h so I'll work on that later.

[2018-08-14 18:34] nealot commented on #98
Everything seems to be working now!

[2018-08-14 18:45] nealot commented on #100
Unfortunately there is no api to implement this but it would be very cool to have. I think the issue for this is https://github.com/Microsoft/vscode/issues/38426.

[2018-08-14 20:14] EvgeniyMakhmudov opened #101 "Refresh button not working in Embedded section in version 4.1.1"
OS: MacOsX / Linux
Versions: latests (vscode 1.26)

Steps to reproduce
1) Open Embedded sections in project
2) See items like
[code]
3) Extend config option `todo.embedded.exclude`  with element `**/file2`
4) Click on `Refresh` button to refresh items in Embedded section
5) expected values like
[code]
but no change occured.

[2018-08-15 00:30] pzmarzly commented on #101
The button works, but does not check for changes in exclusion list.

[2018-08-15 03:17] #98 closed

[2018-08-15 03:35] dakotahawkins opened #103 "Avoid applying colors to (visible) whitespace"
TODO+ file:
![image](https://user-images.githubusercontent.com/638578/44130231-795fed3a-a01a-11e8-8944-ea5914ccf992.png)

As a python docstring (just to show text coloring not applied to whitespace):
![image](https://user-images.githubusercontent.com/638578/44130281-b1885d00-a01a-11e8-9ab4-66e00d3e9452.png)

[2018-08-15 08:48] muuvmuuv commented on #98
@fabiospampinato just for clarification: I will now use the default `ag` engine and put my **excluding** files and directories in a `.ignore` and the include is not working, because that only works for javascript?

So this is my `.ignore`:
[code]

Will this override or extend the `"todo.embedded.exclude"` option? Because some of the globs set there are good and I do not want to add them again (and

[2018-08-15 09:07] nilsml opened #104 "File view: not all *.todo files are detected"
I have several *.todo-files in my workspace, but none is detected.
Tried renaming some of them to TODO and then they were picked up.

Ex: Project1.todo, Project2.todo

[2018-08-15 11:00] rlundy commented on #104
*.tasks files aren't detected either.

[2018-08-15 11:27] fabiospampinato commented on #101
Precisely.

I'll try to lift some of these restrictions, it shouldn't really be a problem to get rid of them entirely.

[2018-08-15 11:30] fabiospampinato commented on #103
Duplicate of https://github.com/fabiospampinato/vscode-todo-plus/issues/67.

[2018-08-15 11:30] #103 closed

[2018-08-15 11:34] fabiospampinato commented on #104
What do you guys mean by "detected", are they not highlighted at all or is it something else?

Is that extension used by any even mildly popular app or is that something you decided on using?

[2018-08-15 12:05] nilsml commented on #104
In the activity bar when selecting the Todo view, the File-section does not show any detected todo-files.
The documentation states that files with *.todo should be supported:

The syntax highlighting works though.

[2018-08-15 13:12] muuvmuuv opened #105 "Include/Exclude not properly working as expected"
I'm using the default ag engine and had put my directories to exclude in a .ignore file (that was the only way I got it working) and added some subdirectories to my included array in the settings. But I shows the TODOs from a libs folder. Because the double-stars are not working with ag I don't know how to exclude them.

So this is my .ignore:

[code]

and these are the settings:

[code]

![screen

[2018-08-15 16:33] nealot commented on #104
I can confirm that the "*" quantifier is not working as intended.

This also raises another issue: What happens when there are multiple *.todo files in the root directory?

[2018-08-15 17:40] fabiospampinato commented on #105
In v4.1.1 I've kind of added support for include/exclude patterns to `ag` and `rg`, it works like this:

- both `ag` and `rg` search files using their own logic (they both read your `.gitignore` file and your `.ignore` file).
- we check if every file they return is actually supposed to be included, taking into consideration the patterns you have in your include/exclude settings.

This basically me

[2018-08-15 17:40] #105 closed

[2018-08-15 17:44] fabiospampinato commented on #104
I get what you guys mean now, the hyphen in `*.todo-files` got me confused, I thought @nilsml was giving a weird `.todo-files` extension to his todo files.

That line means that all files whose names match those pattern are properly highlighted.

That's now how it works, it currently only looks for the file defined in your `todo.file.name` setting, all other files are ignored. In fact the view is

[2018-08-15 17:53] fabiospampinato commented on #100
It looks like some badges can be actually added to the tree for file items. Maybe I'll look into that, but I would also like to be able to add badges to other kinds of tree items thought, i.e. projects and types, so maybe I'll wait until that's also implemented.

[2018-08-16 09:12] bryantebeek opened #106 "Embedded view inside the explorer (just like native outline window)"
First, thanks for this extension, it's amazing!

My question is related to the fact that the todos are currently visible through a dedicated side menu icon, which is nice, but it would be really great if there is a setting to also show them under the file explorer so I can see them easily while coding :)

Thanks again @fabiospampinato

[2018-08-17 14:36] fabiospampinato commented on #106
It might make sense to add optional support for this, maybe we could use regexes for avoiding cluttering the `package.json` file https://github.com/Microsoft/vscode/issues/33547 🤔

[2018-08-17 16:31] eoin-stripe opened #107 "Todo+ crashing on Code v1.26.1"
I opened up VS Code this morning and the release notes showed up, great! However, when I opened my .todo files, none of them are rendering correctly, errors are thrown and the commands aren't recognized.

I've tried reinstalling Todo+ and VS Code, but to no avail. :(

Got any thoughts on what could be causing this?

<img width="377" alt="screen shot 2018-08-17 at 09 27 49" src="https://user-images

[2018-08-17 16:36] eoin-stripe commented on #107
@fabiospampinato my apologies, dude. I didn't think I could just rename those in my config file, thought it was within the source of the extension.

Thanks for calling that out and for the great extension. :)

[2018-08-17 16:39] fabiospampinato commented on #107
No problem. Thank you!

[2018-08-17 22:53] fabiospampinato commented on #104
Added multi-root and multi-file support in v4.2.0 👍

The icons should be fixed in VSC v1.27 (I think) https://github.com/Microsoft/vscode/issues/56143

[2018-08-17 22:53] #104 closed

[2018-08-17 22:55] fabiospampinato commented on #106
On a second thought you should just follow this hint:

We shouldn't clutter the explorer view.

[2018-08-17 22:55] #106 closed

[2018-08-18 01:34] tiansin opened #108 "The latest 4.2.0 version does not work"
OS: Win10
VSCODE: 1.2.6.1

`Activating extension `fabiospampinato.vscode-todo-plus` failed:  ENOENT: no such file or directory, access 'd:\Soft\VSCode\resources\app\node_modules\vscode-ripgrep\bin\rg.exe'`

I found rg.exe in the following two places after searching, but the extension indicates that there is no such program.

1.D:\Soft\VSCode\resources\app\node_modules.asar.unpacked\vscode-ripgrep\

[2018-08-18 01:50] fabiospampinato commented on #108
Maybe bad! Should be fixed in v4.2.1.

[2018-08-18 01:50] #108 closed

[2018-08-18 01:52] fabiospampinato commented on #101
This should be fixed in v4.2.1.

Some things still require a reload of VSC, but this one no longer does.

[2018-08-18 01:52] #101 closed

[2018-08-18 02:40] fabiospampinato commented on #62
Implemented in v4.3.0. Can be disabled via the `todo.tags.namesInference` setting.

[2018-08-18 02:40] #62 closed

[2018-08-18 17:53] WilliamStone opened #109 "[BUG] Time format of tag @done doesn't respect config todo.timekeeping.finished.format"
Hi,
    I configured:
        _// Format used for displaying time inside @done/cancelled
        "todo.timekeeping.finished.format": "**YYYY-MM-DD** HH:mm",_
    when I press Alt+C on a task item, it will be tagged by:
        _@cancelled(**2018-08-19** 01:44)_
    which respects the config.
    But when I press Alt+D on a task item, it will be tagged by:
        _@done (**8/19/2018**, 1:51:30 AM)

[2018-08-18 18:10] fabiospampinato commented on #109
This is a weird one, I don't think the code for producing those tags can lead to this bug:

https://github.com/fabiospampinato/vscode-todo-plus/blob/master/src/todo/items/todo.ts/#L221-L225

What version of the extension are you on? And what OS?

Maybe there's a conflict with another extension.

[2018-08-18 18:35] #109 closed

[2018-08-19 02:43] fabiospampinato commented on #78
I'm closing this as I think this is beyond the scope of the extension.

[2018-08-19 02:43] #78 closed

[2018-08-19 10:42] tk7728 opened #110 "Add option to always show word based suggestions"
Hi,
first of all i had to apologise for my bad english.
This is my first post ever on github (i have registered few minutes ago).
Also this is not a bug, it is more a feature request.

it is possible, that the normal "word based suggestions" works in todo-files?
i am not a developer, but i could imagine that the method "provideCompletionItems" should be modified and should return "null", if tags n

[2018-08-19 12:50] tk7728 commented on #110
but also in markdown files the "word based suggestion" from vscode works

![grafik](https://user-images.githubusercontent.com/42512227/44308967-246cef00-a3bf-11e8-99cb-399ed11d1ccc.png)

[2018-08-19 12:57] fabiospampinato commented on #110
You're right, it wasn't showing for me automatically, I had to trigger the autocomplete manually.

Then I guess we should also support it in the same way 🤔

[2018-08-20 16:26] tiansin opened #111 "todo.embedded.provider = 'rg' does not work"
OS: Win10
VSCode: 1.26.1
Todo+: 4.3.2

`"todo.embedded.provider": "javascript",`

Now I can only be set to the javascript model, is set to the rg will not search out anything.

[2018-08-20 19:33] fabiospampinato commented on #111
Is `ag` not working also for you? (You'll have to install it)

Are you seeing any errors in the debug console?

<img width="505" alt="screen shot 2018-08-20 at 21 32 54" src="https://user-images.githubusercontent.com/1812093/44362223-9ed16800-a4c0-11e8-8f63-0d096b382a04.png">

[2018-08-20 20:24] fabiospampinato commented on #110
Implemented in v4.4.0, it was surprisingly tricky to add support for this.

Thanks for the suggestion.

[2018-08-20 20:24] #110 closed

[2018-08-21 01:17] tiansin commented on #111
https://github.com/k-takata/the_silver_searcher-win32/releases
I downloaded the 64-bit platform ag.exe copy to widnows directory, the configuration file modified the provider ag, and then restart the vscode.
Still nothing happens, and the console looks fine, there is no output for the plugin.

[2018-08-21 01:32] fabiospampinato commented on #111
I don't know if that's the correct way of installing it. Can you execute the `ag` command from the command prompt after doing this?

I had tried installing it with Chocolatey and it worked fine for me under Windows.

Does it work even with the `rg` provider set? Or with `"todo.embedded.provider": ""`?

If you set the provider to be `javascript` the extension won't even check if you have `ag` insta

[2018-08-21 02:28] tiansin commented on #111
I have debugged the extension.

1.
https://github.com/fabiospampinato/vscode-todo-plus/blob/82940ab52ce092d0e4c3a9fb7406cb7d74c64848/src/utils/embedded/providers/ag.ts#L97

`this.filterAckmate`
The data has been returned, and the code is executed to filter the returned data.

2.
https://github.com/fabiospampinato/vscode-todo-plus/blob/82940ab52ce092d0e4c3a9fb7406cb7d74c64848/src/utils/embedded/pro

[2018-08-21 05:56] tk7728 commented on #110
thanks a lot!

[2018-08-21 12:41] fabiospampinato commented on #111
It looks like yet another bug related to Windows using backslashes instead of forward slashes in file paths 😩

[2018-08-21 13:38] fabiospampinato commented on #111
Should be fixed in v4.4.1, thanks for reporting the issue.

[2018-08-21 13:38] #111 closed

[2018-08-22 12:01] bryantebeek commented on #106
If anyone happens to be interested, I ended up using these keybindings:

[code]

[2018-08-22 16:01] nilsml opened #112 "ag and rg do not honor the todo.embedded.exclude setting properly"
When using either ag or rg for searching, it seems like some of the folders that are excluded are included.
Not the same folders though...
While rg includes anything under the 3party-folder, ag includes anything under the dist-folder.
Both are excluded in the config.

[2018-08-22 18:13] fabiospampinato commented on #112
It's a bug then.

Can you share your settings and a screenshot of what you're actually seeing?

[2018-08-23 05:11] nilsml commented on #112
Here are some screenshots:

![ag-settings](https://user-images.githubusercontent.com/1836295/44505759-650c8700-a6a3-11e8-9113-2b70e1d14cb1.PNG)
![search-result-ag](https://user-images.githubusercontent.com/1836295/44505756-6473f080-a6a3-11e8-9b48-7783904d2028.PNG)
![rg-settings](https://user-images.githubusercontent.com/1836295/44505760-650c8700-a6a3-11e8-846f-2a007c6ae2b6.PNG)
![search-result-rg]

[2018-08-23 12:26] fabiospampinato commented on #112
One problem is that weirdly enough a glob like `**/foo` is supposed to match `/path/to/foo` but not `/path/to/foo/bar`, so you might also want to exclude `**/3party/**` along with `**/3party`.

Other than that I can't see any other issue.

Where are your own files actually located?

Are you seeing any errors in the debug console?

[2018-08-24 08:38] nilsml commented on #112
So, **/3party/** did the trick with rg.
ag on the other hand is still acting weirdly, showing only todos from files in the dist-folder.
Since all my files are in the React-folder, I tried using `"todo.embedded.inculde": ["React/**"]` but then ag does not find any embedded todos at all. rg works fine.

[2018-08-24 08:39] nilsml commented on #112
No errors in the debug console btw.

[2018-08-24 10:31] fabiospampinato commented on #112
I'm not sure `React/**` is the glob you want, maybe it should be `**/React/**`.

Can you paste here your settings (not a screenshot) and a sample directory that reproduces the problem?

What OS are you using?
And what version of the extension?

[2018-08-24 10:54] nilsml commented on #112
I think I know what is causing the problem now.
When creating new files with only one comment in it, ag picks it up.
However, if I create a new line in the file, it is not detected anymore.
So probably some kind of cr/lf issue..

I am on Windows 10 running version 4.4.1 of the extension.

[2018-08-24 11:15] fabiospampinato commented on #112
It might be Yet Another Windows-related Bug 😩

I'll look into that, thanks for the info 👍

[2018-08-24 14:09] fabiospampinato commented on #112
Weirdly enough I can still find those embedded todos even when using CRLF instead of LF, but not on Windows 😕Good news is that I can reproduce the problem.

[2018-08-24 14:12] fabiospampinato commented on #112
And I can only reproduce when using `ag` 🤨

[2018-08-24 14:38] fabiospampinato commented on #112
Fixed in v4.4.2.

[2018-08-24 14:38] #112 closed

[2018-08-25 07:33] alexwall opened #113 "When move a task it loses indentation -> Projects won't be recognized as a project"
[code]
Set cursor on `task two` press Alt-up results in

[code]
The project is not recognized as a project. Also try to toggle Alt+up and Alt+down when cursor is on a task.

[2018-08-25 13:20] fabiospampinato commented on #113
This has been a problem since day one, I think this is mainly VSCode's fault, I've opened an issue about that https://github.com/Microsoft/vscode/issues/57197.

[2018-08-27 16:02] peter-mccrory opened #114 "Activity Bar doesn't render tasks with "\t" as indentation"
When I specify the user setting `"todo.indentation": "\t"` my activity bar no longer renders tasks correctly. I see the names of the projects but the tasks are not shown.

For example, if my TODO file reads (with the indentation as a tab instead of spaces)
[code]
the activity bar will read
[code]
Unlike in the default case, there is no tree navigation characters and the tasks are not shown.

[2018-08-27 18:03] peter-mccrory commented on #114
Thanks for the quick response!

These are my user settings for TODO+
[code]
Here is a file that replicates the issue.
[todolist.txt](https://github.com/fabiospampinato/vscode-todo-plus/files/2325016/todolist.txt)

And here is a screenshot of the activity bar and the file (`TODO.taskpaper` has similar issues as the test case that I've uploaded).
<img width="537" alt="screenshot_activity_bar_issue"

[2018-08-28 15:11] konrup opened #115 "Feature request: New Setting "hours per day""
Default: 24
Change to something like 8 to get a better overview of how many working days are needed to complete this task.

For example:

hoursPerDay: 24
[code]

hoursPerDay: 8
[code]

[2018-08-28 17:43] fabiospampinato commented on #115
Thanks for the suggestion but I'm skeptical about redefining what a day is.

For your particular use case you should just multiply the number of weeks/days by 3 in your head. 🤔

If you really need this you can patch the extension yourself, we are calculating those estimates [here](https://github.com/fabiospampinato/vscode-todo-plus/blob/master/src/utils/time.ts).

[2018-08-28 17:43] #115 closed

[2018-08-29 10:37] lucamanga opened #116 "Tutorial/how to use?"
It seems that a tutorial or how to use this extension is missing...

for i.e., I cannot see how to move a done task from a "New:" to "Done:" list...

[2018-08-29 19:45] fabiospampinato commented on #116
[This](https://github.com/fabiospampinato/vscode-todo-plus/blob/master/resources/readme.todo) and [this](https://github.com/fabiospampinato/vscode-todo-plus/blob/master/resources/demo/syntax.png) are our tutorial, there isn't really much more to learn, just read the readme.

Manually. Unless you archive them and change the archive name to "Done" via `"todo.archive.name": "Done"`.

[2018-08-29 19:45] #116 closed

[2018-08-29 20:05] fabiospampinato commented on #114
Should be fixed in v4.4.3. Thanks a lot for reporting the issue!

[2018-08-29 20:05] #114 closed

[2018-08-29 20:11] peter-mccrory commented on #114
Thanks!

[2018-08-31 12:51] NavyAdmiral opened #117 "Insert ☐ in newlines"
Hi. Thanks for the great extension. One feature I'd be willing to see is auto-inserting  ☐ on Enter.

Demo:
[code]
and I click Enter
[code]

tl\dr: replicate Markdown's behavior for `-` https://i.imgur.com/I0IDbWQ.gifv

[2018-08-31 13:03] fabiospampinato commented on #117
Our syntax is more complicated than Markdown's, with regard to tasks.

When ones goes to a new line it might want to insert a project or a comment instead, not always a task. So having this feature could be counterproductive.

Assigning this action to `shift+cmd+enter` might make more sense, but then it's not really that beneficial, one has to remember another shortcut just for not wanting to pres

[2018-08-31 13:03] #117 closed

[2018-09-03 07:22] nealot opened #118 "More/custom tree icons"
Hey, just wanted to ask if more icon options could be supported? Being able to customize the color of the icon is nice but a plain circle isn't very intuitive. The picture [here](https://github.com/Gruntfuggly/todo-tree/issues/51#issuecomment-417955716) shows how icon diversity can improve accessibility. Even if it's just 4-5 icon options, it would become much more easier to differentiate between

[2018-09-03 07:29] nealot commented on #116
@fabiospampinato Maybe the demo section could be moved before the features or usage? Being greeted by a wall of settings isn't very friendly to newcomers and might be the cause of confusion.

[2018-09-03 09:06] fabiospampinato commented on #116
@nealot it's true that as the extension's capabilities grew the settings section became a "wall". However I think it would also not be optimal for not-newcomers to have the demo section moved before the settings, maybe I should just put a link to the demo section early on, I'll think about it 🤔

[2018-09-03 09:16] fabiospampinato commented on #118
Like this?

![](https://user-images.githubusercontent.com/6636980/44960135-79305f80-aebf-11e8-81ca-7252ff513098.png)

I'm not convinced this is more intuitive, at the end of the day the more you see those icons the more you'll be distinguishing them by color.

I personally also think the tree looks uglier in that particular screenshot.

Last but not least where should those icons come from? I woul

[2018-09-03 17:46] nealot commented on #118
Yeah, I agree that the octicons look pretty weird in the screenshot so I was thinking we have 5 icon selections based on something similar to this:
![image](https://user-images.githubusercontent.com/36805289/44997017-464aa200-af79-11e8-87fa-52400d902d83.png)
Most of the keywords can be sorted under one of those categories so there's no need to maintain a bunch of fancy icons. As for where to find

[2018-09-03 17:58] nealot commented on #116
@fabiospampinato I don't think there is any benefit to adding a section for settings; vscode already has a contribution area that displays all the features.
![screenshot from 2018-09-03 13-55-54](https://user-images.githubusercontent.com/36805289/44998120-199a8880-af81-11e8-91a1-39d69027f372.png)

[2018-09-04 18:48] eapyl opened #119 "Sorting archive by 'done' date"
Thank you for great extension.
It will be great to automatically sort archive items by 'done' date. Is it possible to add? Thanks.

[2018-09-06 01:31] fabiospampinato commented on #119
This has actually been a long-time [todo](https://github.com/fabiospampinato/vscode-todo-plus/blob/96398f8b1973ce846439d5fae9a63905438245fa/.todo#L3).

I currently don't have to time for implementing this, so if anybody wants to submit a PR I'll be happy to consider it.

[2018-09-06 01:34] fabiospampinato commented on #116
@nealot but you want to see what settings are supported even before installing the extension, or if you're viewing it's repository or it's page on the marketplace, right? Besides that table is [broken](https://github.com/Microsoft/vscode/issues/45987).

[2018-09-06 01:37] fabiospampinato commented on #118
I don't think those icons are well suited for our purposes.

Perhaps a setting for providing a path to a custom icon for each todo type would be enough? I'm not sure how many people will use it though.

[2018-09-06 08:11] nealot commented on #118
Yeah, this request seems pretty niche atm and not worth the effort; I'll close it for now.

[2018-09-06 08:11] #118 closed

[2018-09-07 06:49] yanikore opened #120 "Add "lib" exlcusion"
It would be nice if "/lib/" folders are also exlcluded by default. The `todo.embedded.exclude` and `todo.file.exclude` take up a lot of space in the settings.json file.

[2018-09-07 18:27] fabiospampinato commented on #120
I don't think `/lib` is an obvious exclusion, therefore it shouldn't be excluded by default. If you have a compelling argument on why this is actually the case I'll be happy to hear it.

There isn't lack of space in `settings.json` after all.

[2018-09-07 18:27] #120 closed

[2018-09-07 19:36] yanikore commented on #120
There isn't much lack, true. But when adding it I found it weird that all of the other directories came with it. I also thought it was a very common library directory name, I've been using it a lot for libraries that do not come from a package manager.

[2018-09-07 19:43] fabiospampinato commented on #120
I found it weird to the first time it happened, but this is controlled by VSC, I can't fix that.

I usually put those into a `vendor` directory, maybe you should use that too.

[2018-09-07 19:55] yanikore commented on #120
Hence why I mentioned the package manager, I use the vendor folder as well.

[2018-09-08 06:30] tyoc213 commented on #24
sorry @fabiospampinato I was referring that when there are done and cancelled task, when you `Archive` the task are moved from their original positions to the end of the file.

So it will be nice if the task where grayed out only instead of moved out... thought dont know, that is only personal preference...  I guess. And the icon was just to "mark" that it was already archived...

Thanks anyway :)

[2018-09-08 13:09] fabiospampinato commented on #24
The whole point of the Archive section is to move finished there, if you don't want that just don't use it.

There are settings for changing the color of completed tasks, maybe you can set them to a gray color of your likings.

[2018-09-16 21:40] carolitascl opened #123 "Refresh Embedded in the Activity Bar Not Working"
The refresh of the embedded TODOS in the activity bar is not working ok.

It works ok after the first TODO is put in a file and do a restart of vscode. After the restart the followings TODOS refresh ok.

When there is no TODOS in a file, or you delete the last one, the file is deleted from the activity bar, and when you put again the first TODO in the file, the refresh does not work till you resta

[2018-09-17 23:58] ko-dever opened #124 "Embedded todos only found in newly created files"
It seems your extension is only working for newly created files, at least in my case.

I created a basic React app using [create-react-app](https://github.com/facebook/create-react-app/). I kept the same folders structure, I just added another one "components/" inside "src/", with some JS files, and then I installed your extension.

I did not understand why my `// TODO: (...)`, `// NOTE: (...)` we

[2018-09-18 08:08] Vanthiyadevan opened #125 "Global Todo file as input"
Currently this extenstion creates `TODO` files inside every folder/project. Is there is a way to open a global todo file ? I see there is no options in the settings now.

Setting to supply file path would be nice.

[2018-09-19 07:48] bcroq commented on #124
I get this bug too.

VS Code: 1.27.2
Todo+: 4.4.4

[2018-09-19 10:00] fabiospampinato commented on #125
Duplicate of https://github.com/fabiospampinato/vscode-todo-plus/issues/78.

[2018-09-19 10:00] #125 closed

[2018-09-19 10:41] fabiospampinato commented on #124
@ko-dever Thanks for reporting the problem 👍 I'm working on it right now.

Actually you don't have to, if you don't explicitly set one it will use the first one available, that is, `ag` if you have it intalled or `rg` if your VSC installation is new enough or it will fallback to plain `javascript`.

The file you are currently viewing doesn't matter.

You're probably right, those sections were much

[2018-09-19 12:35] fabiospampinato commented on #124
It should be fixed in v4.4.5 👍

[2018-09-19 12:35] #124 closed

[2018-09-19 12:36] fabiospampinato commented on #123
It should be fixed in v4.4.5 👍

[2018-09-19 12:36] #123 closed

[2018-09-19 13:00] ko-dever commented on #124
Everything seems to work correctly 🙂 .

I noticed some other small problems when modifying some parameters related to regexp. I will post a feedback about this later.

[2018-09-19 13:10] ko-dever commented on #124
Everything seems to work correctly 🙂 .

I noticed some other small problems when modifying some parameters related to Regexp. I will post a feedback about this later.

[2018-09-21 23:28] fabiospampinato commented on #119
Implemented in v4.5.1 via the `todo.archive.sortByDate` option, which is disabled by default.

[2018-09-21 23:28] #119 closed

[2018-09-24 12:49] henrikcomes opened #129 "Project Text is not showing when all Tasks are done"
As the title already says, when all tasks in a project are @done the project text is no longer visible.
If this is the right behavior, could there be an option to always show the text?

Some screenshots to provide visual context.
![image](https://user-images.githubusercontent.com/33446962/45952717-2eaa8a80-c008-11e8-8279-5f918006f259.png)

![image](https://user-images.githubusercontent.com/3344696

[2018-09-24 19:46] fabiospampinato commented on #129
This is controlled by the following setting:

[code]

You can read more about it in the readme. Basically by default we want `project.pending > 0`, so if there are no pending todos it won't be enabled for that project.

Maybe this shouldn't be the default behavior 🤔 I'll think about changing this, thanks.

[2018-09-24 19:46] #129 closed

[2018-10-01 14:16] jods4 commented on #65
👍
`[lasted]` would be very nice, it makes time-tracking a lot more useful.
Given that we already have `@est` + `[est]` and `@lasted`, it should be pretty straight-forward to add?

Additional stuff such as `[wasted]` and `[elapsed]` can be added later.

[2018-10-01 14:39] fabiospampinato commented on #65
It shouldn't be too difficult ti implement, but doing it in a performant way is a little more trickier.

[2018-10-01 14:42] jods4 commented on #65
Maybe I can have a look and submit a PR, what makes `[lasted]` more difficult than `[est]`?

[2018-10-01 14:47] fabiospampinato commented on #65
They are quite similar actually, if you want to submit a PR I think most, if not all, of the code should go [here](https://github.com/fabiospampinato/vscode-todo-plus/blob/master/src/utils/statistics.ts).

I'd like if anything related to `[lasted]` wouldn't be computed if that's not used anywhere, same for `[est]`, this is currently not the case, the replacement values for `[est]` are computed eve

[2018-10-01 22:07] jods4 commented on #65
I had a look. Adding `[lasted]` and `[wasted]` would be quite easy... if doing it the way it's done today.

If you don't want to do that work then there are two options, both a big change to the current code:

- Do it lazily in a token getter -> requires keeping the list of items and computing tokens on demand. Would do wonders if decorations were only updated for items in view (are they?).

- Do

[2018-10-01 22:10] jods4 commented on #65
BTW: the most performant way to approach this problem is probably to use a trie to classify "interesting" tags as they are found when parsing each line.

[2018-10-01 22:57] fabiospampinato commented on #65
Nope, everything gets redecorated. Which is actually the root cause of our [scaling problems](https://github.com/fabiospampinato/vscode-todo-plus/issues/54), we can't just redecorate the current line or something, everything must be redecorated. https://github.com/Microsoft/vscode/issues/50346

In theory one could divide the document in blocks of 100 lines or something and redecorate only those bl

[2018-10-02 07:41] jods4 commented on #65
I can add `lasted` and `wasted` in a way that I don't think impacts perf compared to current version.
You can check if the results are good enough or not.

As discussed, optimizing that work away is possible but requires bigger changes.

What should `elapsed` be?

[2018-10-02 12:01] fabiospampinato commented on #65
`elapsed` is the sum of `lasted` and `wasted`.

[2018-10-02 21:53] leandrocunha opened #130 "Work with todo in JSDoc format"
I really could like to use this extension together with JSDoc format. For example, the extension should be able to parse snippets like:

[code]

[2018-10-02 22:04] fabiospampinato commented on #130
You can already, if you update the regexes used by this extension. There are a few settings for it.

I'm keeping this open for considering supporting this by default.

[2018-10-02 22:12] leandrocunha commented on #130
I could not do it, can you explain how? I think it can be at README file to.

[2018-10-02 22:27] leandrocunha commented on #130
Yes, I found this settings and did some unsuccessful attempts. I'm not familiarized with complex regex, so I decided to open this issue.

It can be very useful.

[2018-10-03 17:38] fabiospampinato commented on #130
I've added support for this in v4.6.1 👍

Thanks for the suggestion.

[2018-10-03 17:38] #130 closed

[2018-10-03 22:31] jods4 commented on #88
I am not sure if this is the same or I should open another issue:
- I would like that the `Toggle started` command adds `@lasted` when stopping an in-progress task.
- I would like that no command removes already present `@lasted` tags.

This is useful because it enables people to use time tracking when work on a task is split over multiple sessions, e.g.: you're working on something and are interr

[2018-10-03 22:32] jods4 commented on #65
PR is ready

[2018-10-03 22:36] jods4 commented on #23
Nothing prevents us from adding `@due` in tasks, but it would be really cool if it was combined with some visual indicators; a sort command (by due date -- and/or priority); and maybe filtering (although filtering is a generally missing feature, there's another issue about that).

[2018-10-03 22:58] fabiospampinato commented on #88
@jods4 there are a few differences between your proposed solution and @micxer's. Yours has the ability to `re-open a "done" task`, but it deviates from PlainTasks' behavior, and being as much compatible as possible with PlainTasks is important for this extension.

I'd be willing to consider a PR that implements the ability to toggle the timer the same way that [PlainTasks](https://github.com/aziz/

[2018-10-03 23:01] fabiospampinato commented on #23
Yes, it's possible to add indicators to the gutter and/or "scrollbar" for this, this issue is basically about adding those since as you said one can already manually write the `@due(whatever)` tag.

[2018-10-03 23:03] jods4 commented on #88
Could you elaborate? I'm not familiar with PlainTasks.

[2018-10-03 23:50] fabiospampinato commented on #88
@jods4 you should just try it. I'm not sure I can explain it clearly, but basically each odd `@toggle(date)` pauses the timer and each even `@toggle(date)` resumes the timer. So the time between a pause and a resume is subtracted from the lasted/wasted time.

[2018-10-04 21:03] #65 closed

[2018-10-04 23:34] fabiospampinato commented on #88
@jods4 we are currently appending `@done`/`@cancelled` if the task is completed, and, respectively, `@lasted`/`@wasted` if time tracking for that task was active.

If we are going to implement this I want it done the way PlainTasks does it, no `@stopped`, no multiple `@started`. What you're proposing, if I'm understanding it correctly, might be easier to read (but I don't think this matters much i

[2018-10-05 14:38] jods4 commented on #88
Being able to track time across multiple work sessions is very useful to me.
I can try to produce a PR if you spec the behavior you'd like.

[2018-10-06 07:25] NealWH opened #133 "Archive function removing unattached notes or empty sections?"
Apologies if i'm missing something explaining the intention here, but having just started using this I've noticed it seems to be a little too efficient in cleaning up using the archive function and not explaining what it has done.

Perhaps my use case is a little strange but I'd like it to be a scratch pad where I can put in some hierarchical notes related to projects without any immediate todo it

[2018-10-06 14:57] fabiospampinato commented on #133
The "Archive" function is meant to archive completed todos in a special "Archive" project located at the bottom of the page.

As part of it's "clean up" work it removes empty projects, the idea behind this is that such projects no longer have any todos (most probably they are all completed) and there's no longer a need to that project.

I think you should write your notes as todos, and not as proj

[2018-10-06 14:57] #133 closed

[2018-10-06 15:31] fabiospampinato commented on #88
@jods4 I would like it to work like this:

[code]

Let me know if there are unclear points.

[2018-10-08 07:59] jods4 commented on #88
@jods4 That's a bigger change than I expected. I'm interested but won't have the time to tackle that right now. Maybe later, I'll stay in touch.

[2018-10-08 16:19] carlocardella opened #134 "Very slow extension activation time, causes ExtensionHost to hang"
- Extension Name: vscode-todo-plus
- Extension Version: 4.7.0
- OS Version: Windows_NT x64 10.0.17763
- VSCode version: 1.28.0-insider

[code]

The extension is loaded at startup and it takes multiple seconds (it varies across my machines, from 3-4 seconds to 13 seconds as shown above): this makes VSCode startup very slow and the messages below popup every time.
For test I have disabled the todo+

[2018-10-08 16:55] fabiospampinato commented on #134
Thanks for opening this issue!

I'm seeing startup times of about 600ms on my machine (mid-2014 MBP), which still seems excessive, I'll investigate this further.

[2018-10-09 00:13] fabiospampinato commented on #134
I've find a little room for improvement, v4.8.1 should startup a bit quicker.

But I couldn't understand why VSC is still reporting such high numbers, at one point the extension looked like this:

[code]

and all `export default new Whatever ()` where replaced with `export default {}`.

There's barely anything going on, from what I can measure they should all take less 10ms, but I'm seeing reporte

[2018-10-09 04:46] carlocardella commented on #134
This particular laptop is about 6 years old so it's not the best performing I have (details below); startup time on this machine is not the best and it varies a bit, even though it is generally fairly high (at least 4-5 seconds). I have just updated to the latest version (4.8.1) the load time is 1556ms, still slow but it's a big improvement on this old hardware (and by the way, this time I did not

[2018-10-09 11:20] ShinobiWPS opened #135 "Slow-loading compared to bigger plugins"
- Extension Name: vscode-todo-plus
- Extension Version: 4.8.1
- OS Version: Darwin x64 16.7.0
- VSCode version: 1.28.0

 We have written the needed data into your clipboard. Please paste:
[code]

I think it takes really too much to load, compared to bigger extensions

[2018-10-09 12:41] fabiospampinato commented on #135
Duplicate of  https://github.com/fabiospampinato/vscode-todo-plus/issues/134.

Did you see an improvement in v4.8.1 from versions < 4.8.0?

[2018-10-09 12:41] #135 closed

[2018-10-09 13:08] fabiospampinato commented on #134
I don't know a more effecting way of testing this. But I've disabled all my extensions, enabled only Todo+ and the reported startup times are still the same, so I guess there shouldn't be any conflicts with other extensions.

Unfortunately it looks like VSC doesn't provide the right tools for profiling an extension startup phase, unless I overlooked something and there's actually an expensive bit

[2018-10-09 13:29] carlocardella commented on #134
Ok, I'll see if I can do some more testing and report back.
Also, for the sake of accuracy I have to amend my statement from last night: startup time on the newer Windows laptop (Dell XPS 9560) is ~9,000ms, not 900ms:

[code]

[code]

[2018-10-09 13:44] fabiospampinato commented on #134
9s is just unacceptable.

Do you maybe have a very large file highlighted by Todo+ when VSC starts up?

[2018-10-09 14:42] carlocardella commented on #134
It is a possibility, my workspace has a number of Git repos in with a total of ~40,000 files (the vast majority fairly small), I can get more details on it if needed.

I just tried to open an empty VSCode window (no workspaces open, no files or folders) and Todo+ startup time is ~1.1 seconds (no hanging extension host message this time), it still seems high since there are no files to process but

[2018-10-09 15:36] fabiospampinato commented on #134
@fuzetsu do you?

@fuzetsu @carlocardella was the "Todo" activity bar view active when VSC started up?

[2018-10-09 15:42] carlocardella commented on #134
No, for me the Activity Bar was not active, in fact with my large workspace open if I select the Todo Activity Bar the I definitely see Todo scanning happening:

![image](https://user-images.githubusercontent.com/5784415/46680836-cd092500-cb9e-11e8-95b0-9f85352b234b.png)

I have also set the Files and Embedded views to not be expanded hoping to alleviate some of the pressure on the extension

[cod

[2018-10-09 16:47] fabiospampinato commented on #134
@carlocardella that's pretty weird, are you sure everything else is the same? e.g. same activity views visible, same folders in the workspace, same files open.

[2018-10-09 17:11] fabiospampinato commented on #134
For future reference, most of that time is spent loading these extensions: `chokidar`, `globby`, `micromatch`, `sugarDate`.

They should at the very least only be imported when needed.

[2018-10-09 17:28] fabiospampinato commented on #134
Good news, just compiling the extension with webpack reduces the startup time by about 80%. I would say that's good enough.

I'm going to compile all my extensions with webpack in the following days. 👍

[2018-10-09 17:42] fuzetsu commented on #134
Good news 👍

For the record I only had one small (~200 lines) todo file open in another window. I had just opened a new folder with vscode.

[2018-10-09 18:19] carlocardella commented on #134
Yes, everything was the same, I was also surprised to see such massive difference. I actually still have the old folder (I just renamed it, not really deleted) so I could try to compare the files, maybe there are temp files or other garbage causing the problem.
Anyway great news about the reduced startup time, I still have the problem on my old laptop, I'll test the new build there

[2018-10-09 19:07] Gettyk opened #136 "Exclude folder"
I have seen the file exclude option but that would be nice if we could exclude specified folders so that todo+ doesn't parse them.

[2018-10-09 20:56] carlocardella commented on #134
I couldn't resist the temptation and I clean up the local extension folder on my old laptop (I can still get it back to run more tests though), I reopened the same large workspace and the Todo+ load time went from 13 seconds to ~2 seconds. Clearly that local extension folder was part of the problem.
By the way, I used this workaround on 4 different machines, I've seem improved startup times on all

[2018-10-09 22:09] fabiospampinato commented on #136
You can also exclude folders with those options that accept a glob.

[2018-10-09 22:09] #136 closed

[2018-10-09 22:11] fabiospampinato commented on #134
Great, I think you should open an issue in vsc's repo about this.

[2018-10-10 08:04] ShinobiWPS commented on #135
Can't tell it, VS Code just released the Extensions Process host analyser with 1.28

I just saw that yesterday, but never realised it was so slow

[2018-10-11 03:20] fabiospampinato commented on #134
As of v4.8.2 the extension is now bundled with webpack.

Are you guys still having very slow startup times?

[2018-10-11 03:55] carlocardella commented on #134
Load time is down to ~300ms now, big improvement from ~2 seconds on this laptop (everything else being the same), thanks! 👍

[2018-10-11 05:52] pixelpicosean opened #137 "Activity bar error and cannot open TODO files, the embedded list is also empty"
Here's the screen shot of the error
![devtool-screenshot](https://cl.ly/64cab5b2a639/Image%2525202018-10-11%252520at%2525201.49.36%252520PM.png)

[2018-10-11 08:03] bva999 commented on #137
I have the same problem... Error :

/C:/Users/user/AppData/Local/Programs/Microsoft VS Code/resources/app/out/vs/workbench/workbench.main.js:282 [Extension Host] [UriError]: Scheme is missing: {scheme: "", authority: "", path: "/c:/Users/user/Documents/Work/PMCG/TODO", query: "", fragment: ""}
t.log @ /C:/Users/user/AppData/Local/Programs/Microsoft VS Code/resources/app/out/vs/workbench/workbench.

[2018-10-11 13:58] fuzetsu commented on #134
Right before updating I was getting 9-10 seconds consistently, right after updating I got 300ms. 👍

[2018-10-11 14:52] fabiospampinato commented on #134
Yes and no, the startup performance has been reduced dramatically thanks to webpack:

- There are less files to open since we are exporting a single file
- There's less code to parse since it's now minified

But it shouldn't have taken multiple seconds to startup in the first place, that was something I couldn't reproduce.

I'm seeing about 300ms too. I think this could actually be reduced further

[2018-10-11 14:52] #134 closed

[2018-10-11 15:08] fabiospampinato commented on #137
Are you both on Windows?

Is the extension overall working though (todo files are highlighted, embedded todos are found etc.)?

[2018-10-11 17:32] fabiospampinato commented on #137
This should be fixed in v4.8.3, there was a type in webpack's configuration.

[2018-10-11 19:10] fabiospampinato commented on #134
Actually I did it right now in v4.8.4, the startup time should be about half of it was in v4.8.3.

[2018-10-11 21:47] pixelpicosean commented on #137
I am using macOS you can see from that screenshot, and the latest version still not work. Only embedded todos are highlighted, todo files outline is sometimes visible before the error occurs.

[2018-10-11 21:51] fabiospampinato commented on #137
Right.

Todo+ doesn't highlight embedded todos, maybe you're using Highlight or TODO Highlight for that?

I'll investigate this further, thanks.

[2018-10-11 21:55] pixelpicosean commented on #137
I have `Highlight` installed and it works, but todo+ still gives me same error after the `Highlight` get uninstalled

[2018-10-11 21:56] fabiospampinato commented on #137
Yeah I don't think there's a conflict here. It's a problem with one of our dependencies I think.

What version of VSC, Todo+ and macOS are you running?

[2018-10-11 21:58] pixelpicosean commented on #137
VSC: 1.28.0
Todo+: 4.8.4
macOS: 10.13.6

[2018-10-11 21:59] pixelpicosean commented on #137
There's a notification says "Path must be a string. Received undefined"

[2018-10-12 09:30] bva999 commented on #137
VCS: 1.28.1
Windows 10
ToDo+: 4.8.4

[2018-10-13 09:04] Hyominn commented on #137
I have the same problem ：（
VCS: 1.28.1
Windows 10
ToDo+: 4.8.4

[2018-10-15 17:39] fabiospampinato commented on #137
Should be fixed for good in v4.8.5, do you guys confirm that?

[2018-10-15 17:39] #137 closed

[2018-10-15 21:35] pixelpicosean commented on #137
Embed list now works and no error is thrown, but the files list only prints top level titles.

[2018-10-15 23:23] pixelpicosean opened #138 "Active bar files list only prints top level titles"

[2018-10-15 23:28] pixelpicosean commented on #138
I did not change any settings, and any folder with a `TODO` file gives the same result:

![screenshot](https://cl.ly/b8a93affd80d/Image%202018-10-16%20at%207.27.05%20AM.png)

[2018-10-15 23:28] fabiospampinato commented on #138
Can you post the actual file so that I can try that myself?

[2018-10-15 23:29] fabiospampinato commented on #138
I see there's also a problem in the "Embedded view" 🤔 that message shouldn't be nested into an empty entry.

[2018-10-15 23:32] pixelpicosean commented on #138
Here's the [sample file](https://gist.github.com/pixelpicosean/ef1000abc05ec8513e07ea2cdf36e75d)

[2018-10-15 23:37] fabiospampinato commented on #138
Thank you! I can reproduce both problems, I'll probably fix this tomorrow.

[2018-10-16 00:54] fabiospampinato commented on #138
This is fixed in v4.8.6.

This is actually kind of a problem with your settings, by default the indentation is set to 2 spaces:

[code]

While you are using a 4-spaces indentation here instead, so by putting this into your settings:

[code]

Everything should work for you. But this is kind of a problem because then one wouldn't be able to edit both todo files indented with 2 spaces and todo files

[2018-10-16 09:09] bva999 commented on #137
Confirm! It's work now .

[2018-10-16 21:44] fabiospampinato commented on #138
This should be fixed in v4.9.0.

The extension is now detecting the indentation on a per-file basis.

[2018-10-16 21:44] #138 closed

[2018-10-18 08:54] PentiumRabbit opened #139 "custom color"
![1539863793125-image](https://user-images.githubusercontent.com/5358013/47152704-03b60c80-d310-11e8-8225-7ab2bf5d051d.png)

I want to change these colors.

[2018-10-18 10:17] fabiospampinato commented on #139
What's "normal" supposed to mean here? A todo that's not done nor cancelled?

[2018-10-18 12:40] fabiospampinato commented on #139
- I'm not sure why you're pointing only at the "X"s and not the whole line, but you can already replace that color with `todo.colors.cancelled`

- The "base" color comes from your theme, so you can change it by changing theme. I don't think there should be a specific setting for this provided by the extension, ti would slow down things.

[2018-10-18 12:40] #139 closed

[2018-10-18 13:06] PentiumRabbit commented on #139
Not everyone likes it, just providing a choice.

[2018-10-18 13:07] fabiospampinato commented on #139
Are you referring to the red "X" or the white todos?

[2018-10-18 13:07] PentiumRabbit commented on #139
Not everyone likes it, just providing a choice.

[2018-10-18 13:09] PentiumRabbit commented on #139
"X"

[2018-10-18 13:10] PentiumRabbit commented on #139
symbols

[2018-10-18 13:20] PentiumRabbit commented on #139
![1539868751990-image](https://user-images.githubusercontent.com/5358013/47157306-9c05be80-d31b-11e8-9168-02e0d3054c07.png)
I like this style, but I can't do it.

[2018-10-22 09:16] nealot opened #140 "Use directory name for external todo files"
Currently, if you specify an external todo file (a file outside of current project) using `todo.file.include`, the file view will categorize it under the label `undefined`. It would be better if the label could be changed to the directory name of the external file.

So this:

[code]

Would display:

[code]

[2018-10-22 12:36] fabiospampinato commented on #140
I'll look into that 👍

[2018-10-22 22:56] fabiospampinato commented on #140
Fixed in v4.9.2. It should work as you suggested.

[2018-10-22 22:56] #140 closed

[2018-10-22 23:15] fabiospampinato commented on #78
Actually this is already somewhat supported, you can do what @nealot is doing [here](https://github.com/fabiospampinato/vscode-todo-plus/issues/140)

[2018-10-25 09:01] mumeiyamibito opened #141 "Sorting by Tag"
I'd like to sort tasks by tag including priority such as @today and @critical.
But I cannot find the function and shortcut key.

Could you add this function?

[2018-10-25 11:04] fabiospampinato commented on #141
It would be interesting to have a `Sort by Priority` and/or a `Sort by Due` command 🤔

How would this work for todos nested into other todos/projects though?

[2018-10-25 11:34] mumeiyamibito commented on #141
@fabiospampinato

My desired way is to sort tasks tagged in projects and nests in order of priority.
The parent nest also moves according to the priority of the child task.

If possible, it would be useful to have a sorting function for only the selected area.

[2018-11-06 14:55] fabiospampinato commented on #18
@maiph you can do that, but then if you edit those todos the original file won't change. I'd prefer to implement this properly as soon as an API for folding arbitrary lines is available.

[2018-11-06 17:52] gadders opened #142 "Constant "Reload" label in extension"
Installed latest version manually via vsix file. Extension constantly displays "Reload" label. Reloading does not fix. Using version 1.20.0 of VS Code.

[2018-11-06 17:56] fabiospampinato commented on #142
What's a "reload" label? Can you attach a screenshot?

Did you download the vsix from the marketplace or did you make it yourself?

[2018-11-06 17:59] gadders commented on #142
Sorry - attaching a screenshot is difficult as can't login to github from my work PC. What I mean is that the extension constantly displays the "Reload" button on the extension's entry in the extension panel.

I downloaded the vsix from the marketplace.

[2018-11-06 18:17] fabiospampinato commented on #142
Oh I see, this is a problem with VSCode, nothing to do with particular extensions. You should open an issue [here](https://github.com/Microsoft/vscode/issues).

[2018-11-06 18:17] #142 closed

[2018-11-08 23:06] rbenson opened #143 "Adding robust settings options"
I have been playing around with changing my theme at certain times of the day, dark to light. I know you can throw `todo.colors.xxx` in to customize settings. Some settings allow you to do:

    "workbench.colorCustomizations": {
        "settingOne": "xxx",
        "settingTwo": "......",
        "[LightTheme]":{  "settingOne": "yyy"}
        "[ThemeThree]":{  "settingOne": "zzz"}
      }

is the

[2018-11-08 23:45] fabiospampinato commented on #143
This isn't possible currently via Todo+ alone, we can't provide good colors for every theme by default (https://github.com/Microsoft/vscode/issues/32813) and we can't have a custom editor/tab color (https://github.com/Microsoft/vscode/issues/35379).

Although I don't think there's an API for detecting if the current color scheme is dark or light it looks like VSCode supports defining both dark and

[2018-11-09 17:08] inspiredlabs opened #144 "Comment highlighting"
Is there a regex combination to add where any commented code, from any filetype becomes highlighted?

For example, highlight the common syntax: `FIXME`, `TODO` or `@CRITICAL` inside of day-to-day comments inside: `*.SVG`, `*.JS` or `*.Elm`?

Thanks for this – it's great to see markdown everywhere!

[2018-11-09 17:18] fabiospampinato commented on #144
My "commented" you mean via the comments feature integrated in vscode?

[2018-11-09 17:22] inspiredlabs commented on #144
Yes, I've installed:

- Highlight
- Todo+
- Projects+ Todo+

..in the hope that combination might add the desired highlighting to existing comments.

[2018-11-09 17:30] fabiospampinato commented on #144
Then you can absolutely do that. Have you tried writing the regexes?

[2018-11-09 17:31] inspiredlabs commented on #144
I've installed the plug-ins, don't the regexes get installed at the same time?

[2018-11-09 22:58] fabiospampinato commented on #143
Implementd in v4.10.0, there are now `todo.colors.dark.*` and `todo.colors.light.*` settings.

[2018-11-09 22:58] #143 closed

[2018-11-10 13:30] usernamehw opened #145 "Why tags are separated into several arrays?"
actual:
[code]
expected:
[code]

When the array gets bigger it gets harder to track which tag you're editing at the moment.

[2018-11-10 13:43] fabiospampinato commented on #145
With the introduction of the `todo.colors.dark.*` and `todo.colors.light.*` settings it made sense to move those colors under `todo.colors.*` as well. Your proposal looks indeed nicer but it doesn't support theming those colors for dark and light themes as easily.

[2018-11-10 13:43] #145 closed

[2018-11-10 14:07] usernamehw commented on #145
[code]

[2018-11-10 14:15] fabiospampinato commented on #145
What arrays with empty values? What gap? I'm not sure I'm following.

If you're proposing that code as an alternative I think having all colors under `tags.colors.*` is better.

[2018-11-12 07:37] Orphu7 opened #146 ""todo.tags.backgroundColors" has been renamed to "todo.colors.tags.background""
Starting today I get this message as an error:
"todo.tags.backgroundColors" has been renamed to "todo.colors.tags.background"
![image](https://user-images.githubusercontent.com/16332978/48332740-37f1c400-e655-11e8-965c-ad94cfb375fe.png)

Todo+ version 4.10.0
VSCode version: 1.28.2

I tried reinstalling the extension, but that didn't change anything.
This is what is shown in the developer tools:

`

[2018-11-12 09:33] samael205 commented on #146
only rename in you config files "todo.tags.backgroundColors" to "todo.colors.tags.background" and "todo.tags.foregroundColors" to "todo.colors.tags.foreground"

[2018-11-12 10:08] Orphu7 commented on #146
That was it, thanks!

[2018-11-12 10:08] #146 closed

[2018-11-12 14:37] regoje opened #147 "Show embedded but only for currently opened file(s)"
I'd like to be able to see the TODOs only in currently open files -- not entirely sure whether that's possible.

[2018-11-12 14:45] fabiospampinato commented on #147
I think there's no API for retrieving the set of opened files 🤔

Maybe we could automatically scroll to the section containing todos for the currently active file though, would that be interesting?

[2018-11-12 15:03] regoje commented on #147
Yeah, it seems there isn't one, that's too bad.

Scrolling would be an improvement definitely, but perhaps then we could
show *only *the ones from the current file.

BTW just so that we're on the same page I had the list in the sidebar in
mind.

On Mon, Nov 12, 2018 at 10:45 PM Fabio Spampinato <notifications@github.com>
wrote:

[2018-11-12 15:59] fabiospampinato commented on #147
Yeah that doesn't work for us.

Definitely doable. We would have to add a new button to the toolbar or something for switching between file-level and workspace-level todos though.

I don't think I would like to have items rearrange themselves whenever we switch file.

I say let's see what the experience will be like with just scrolling to the active file first, perhaps we could also have a small i

[2018-11-13 00:45] regoje commented on #147
Gotcha.

Do you mind pasting your ```launch.json``` here?

[2018-11-13 01:15] fabiospampinato commented on #147
There isn't one, see https://github.com/fabiospampinato/vscode-todo-plus#contributing

[2018-11-16 11:33] eteisman commented on #22
Amazing! I was looking for this.

One remark: can you update the documentation for this?
I only found out this is possible when I attempted to add an almost identical feature request.

Thank you!

[2018-11-16 12:07] fabiospampinato commented on #22
@eteisman Actually it is already mentioned:

![](https://github.com/fabiospampinato/vscode-todo-plus/raw/master/resources/demo/timer.gif)

Unfortunately since we provide many features it's hard to miss some just by reading the readme.

[2018-11-17 14:37] est commented on #22
@fabiospampinato  yo got me a github notification lolwat

[2018-11-17 14:39] fabiospampinato commented on #22
@est Sorry, copying the paragraph I quoted didn't preserve the backticks.

[2018-11-20 13:33] borekb opened #149 "Integrate with Problems panel"
Hi, great extension! Do you think it would be possible to integrate the list with the problems panel so that it has a standard place in the UI?

[2018-11-20 13:53] fabiospampinato commented on #149
I'm not sure, I haven't played with the problems pane yet 🤔

I'm not sure this is particularly useful though, what's wrong with the activity bar views?

[2018-11-20 15:24] borekb commented on #149
Nothing wrong for sure, we just treat todos as "warnings" and the Problems panel would be a natural place for that.

[2018-11-20 16:16] fabiospampinato commented on #149
Makes sense. I'd be happy to consider a PR that adds support for the Problems pane for embedded todos.

[2018-11-22 07:21] samael205 opened #150 "Text Color Projects tags"
Hello

Could you make the text color of the @ tags be forced in the headers, so that when you use it in a header line (Ends with :), take that color?

The improvements with respect to performance have been brutal, my congratulations

[2018-11-22 12:51] fabiospampinato commented on #150
Can you show me a screenshot of the current situation?

I'm not sure what you mean by "header", maybe "project"?

[2018-11-22 14:21] samael205 commented on #150
thats right!

[2018-11-22 14:22] samael205 commented on #150
![image](https://user-images.githubusercontent.com/649740/48908416-7021af80-ee6a-11e8-808f-e6d03e44abcc.png)

[2018-11-22 14:33] fabiospampinato commented on #150
Can you paste in the actual text? I'd like to reproduce the same problem exactly. You can probably change the project name if that's sensitive to you.

[2018-11-22 14:39] samael205 commented on #150
TS3-125 <eXAMPLE> Textual (@ToWork, @To-Test ):

Config tags
"todo.tags.names": [
"ToWork",
"To-Test"
],
"todo.colors.tags.background": [
"#ae81ff",
"#F55A00",
],
"todo.colors.tags.foreground": [
"#FFFFFF",
"#FFFFFF"
]

[2018-11-22 15:18] fabiospampinato commented on #150
I meant the text in the screenshot, not in your settings.

[2018-11-25 15:23] #150 closed, assigned to nobody

[2018-12-03 06:08] frontgoo opened #152 "which version support multiple lines of code blocks?"
which version support multiple lines of code blocks?
`var a = check();
console.info('OK');
`

[2018-12-03 10:53] 1in1000000000s opened #153 "Support for man-days and man-weeks"
The estimation of projects is not very useful in current form if I got 5d 15h what does it mean in real life? More like 3 man-weeks 1 man-day and 7 hours.

It would be nice if project statistics would support md (man-day) and mw (man-weeks) with ability to set what man-day is (default 8h) and man-week (as 5*8h).

[2018-12-03 13:07] fabiospampinato commented on #153
I'll be happy to consider a PR for this.

Let me know if you, the reader, would like to take a shot at this so what we can spec a bit how that would work.

[2018-12-03 13:09] fabiospampinato commented on #152
According to the [changelog](https://github.com/fabiospampinato/vscode-todo-plus/blob/master/CHANGELOG.md#version-200) that was removed in v2.

[2018-12-03 13:09] #152 closed

[2018-12-10 14:31] sahil48 commented on #85
This is somewhat related, but I found an interesting idea in the extension vs-org that's worth reviewing. Instead of the sidebar, the app generates a report in a web-like view in a separate pane. You can click on the appropriate report item, and it takes you to the corresponding line. When the line gets updated, the report would also be updated and vice-versa (the reports can be made interactive t

[2018-12-16 21:47] n3rio opened #154 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `vscode-todo-plus`
- Extension Version: `4.4.3`
- OS Version: `Linux x64 4.15.0-42-generic`
- VSCode version: `1.30.0`

:warning: Make sure to **attach** this file from your *home*-directory: `/home/n3rio/fabiospampinato.vscode-todo-plus-unresponsive.cpuprofile.txt` :warning:

Find more details here: https://github.com/Microsoft/vscode/wiki/Explain:-ex

[2018-12-16 23:56] fabiospampinato commented on #154
👆

If you can share reproducible steps that would be even better.

[2018-12-20 01:27] SadWood opened #155 "archive indent one space"
I set two indents, but when I use it, it is one indentation that causes the fold.
just like this:
[code]
but I want this:
[code]

[2018-12-28 17:29] joshhornby opened #156 "On archiving the first line is removed"
Given the following example:

[code]

If I was to archive the completed todos the list would look like:

[code]

I think it should look like:

[code]

Notice the missing `Todo:` heading.

[2018-12-31 03:16] blurHY opened #157 "Don't scan binary files"

[2018-12-31 12:54] fabiospampinato commented on #157
This is by design, why would you want that?

[2018-12-31 18:46] jfro opened #158 "Rg provider fails to find embedded TODOs"
Whenever I try `rg` provider, Todo+ reports there's no embedded TODOs found. Setting provider to `javascript` & relaunching shows embedded TODOs OK. All other settings are left as default as I only recently installed this extension.

**OS:** macOS 10.14.2
**VSCode:** 1.30.1
**Todo+:** 4.11.2
**rg:** 0.10.0 (installed via brew)

Let me know if there's more information I can provide.

[2018-12-31 19:17] fabiospampinato commented on #158
By default the best provider available is found automatically, is `rg` actually in your PATH? 🤔

[2019-01-01 03:45] jfro commented on #158
Yup.
[code]
Should I be able to paste the default rg regex into terminal as one of rg's arguments? Because that does produce an error. "error: repetition operator missing expression"

[2019-01-01 03:53] blurHY commented on #157
It scans the text in .db file,but I don't need that

[2019-01-01 17:18] fabiospampinato commented on #157
You can exclude arbitrary globs via `todo.embedded.exclude` and `todo.file.exclude`.

[2019-01-01 17:18] #157 closed

[2019-01-01 17:21] fabiospampinato commented on #158
@jfro the command is being generated here: https://github.com/fabiospampinato/vscode-todo-plus/blob/master/src/utils/embedded/providers/rg.ts/#L18-L19

You may try dumping that and see if you can run that from the terminal and if not what the problem is. I'm sorry I can't be more helpful right now but it's a very busy period for me.

[2019-01-02 17:59] jfro commented on #158
OK does look like something maybe changed in rg to cause the existing regex to be invalid?

[code]

[2019-01-02 18:05] fabiospampinato commented on #158
@jfro I think you should put the regex in single quotes first.

[2019-01-02 18:12] jfro commented on #158
I believe execa module probably is doing that? If I manually run it, with single quotes, I get same error as pasted above. Without quotes would yield a shell error for sure.

[2019-01-02 18:14] fabiospampinato commented on #158
Yes, I mean you want to run the command directly from your shell in order to see what the error returned by `rg` is you have to quote it manually.

[2019-01-02 18:15] jfro commented on #158
Yeah I did, same error as above when run in my shell, rg doesn't seem to like the default regex.

[2019-01-02 18:21] jfro commented on #158
This seems to work, having to escape the {, they seem to be literals in this case?

`rg --color never --with-filename --pretty --ignore-case '(?:#|//|/\*+|<!--|--|\* @|\{!|\{\{!--|\{\{!) *(TODO|FIXME|FIX|BUG|UGLY|HACK|NOTE|IDEA|REVIEW|DEBUG|OPTIMIZE)'`

[2019-01-04 08:48] FletcherCodes opened #159 "@created has purple background when critical and/or high tags removed"
When I customise "todo.tags.names" and remove "critical" and/or "high", the @created tag changes from yellow text to a purple background.

I did have Solarized Dark but, even when removing the theme, the same thing happens.

# With Critical and High

![image](https://i.gyazo.com/7fb3a0a24a389442c3bb8b7119661b27.png)

![image](https://i.gyazo.com/cd1bd94d2dc1c5de03ff11b927a3ae4b.png)

---

# Withou

[2019-01-04 14:08] fabiospampinato commented on #159
@FletcherCodes weird, does the error persist if you reload VSC?

[2019-01-04 16:37] FletcherCodes commented on #159
🤦‍♂️Should have tried that. Just ran "Reload Window", and the error doesn't persist.

[2019-01-04 16:42] #159 closed

[2019-01-08 21:26] #156 closed, assigned to nobody

[2019-01-08 21:55] fabiospampinato commented on #155
@SadWood I'm not sure what you're trying to do, feel free to reopen the issue and writing some reproducible steps that I can try on my machine to reproduce the problem. Like: 1) what settings do you have 2) what's the content of the file 3) what are you trying to do.

[2019-01-08 21:55] #155 closed

[2019-01-08 23:15] #154 closed

[2019-01-08 23:38] fabiospampinato commented on #158
@jfro in v4.11.4 those curly braces should be properly escaped, let me know if this fixed the problem for you.

[2019-01-08 23:38] #158 closed

[2019-01-13 03:54] AdrianWTF commented on #23
about this workaround by @fabiospampinato

It has a problem, it sums the remaining days for each task till the desired date
![image](https://user-images.githubusercontent.com/46637889/51081317-e4364200-16ba-11e9-818a-8ffa3f2e4d23.png)
In the example it says 6w for nested to complete. However, from today there are only 3w remaining till feb 3 (the due date for both tasks).
This "due" request would

[2019-01-17 08:39] sergiomoura commented on #146
How can i do this?

[2019-01-17 14:21] samael205 commented on #146
find your config file

[2019-01-18 11:17] Supportic opened #160 "[Suggestion] Add support for @created and @due"
Hey, I'm loving to use this extension. I would like to suggest to more features though:

1. Add support for a @created TAG to insert the current timestamp for the created task to be able to see how long this task already exists
2. Add support for a @ due TAG to mark a specific date when the task has to be finished (by clicking on @ due the missing days until the deadline will appear) (ref: https:/

[2019-01-18 12:56] fabiospampinato commented on #160
Thanks!

Already supported, you have to enable the `todo.timekeeping.created.enabled` setting.

As you mentioned this is already tracked in a separate issue.

[2019-01-18 12:56] #160 closed

[2019-01-19 01:29] rodrigoccurvo opened #161 "Add option to choose regex group numbers"
Todo+ extension uses groups 1 and 2 of the regex for type and description, respectively. Because of that, anything else has to be made using lookahead, to avoid using the wrong group. On the other hand, the Highlight extension doesn't seem to work well with lookahead (my guess is because of position calculations), nor with subgroups.

That makes it challenging to use complex regexes that work for

[2019-01-19 02:15] fabiospampinato commented on #161
I'm not sure what the issue here is: you can't use capturing groups `(foo)` before the first two because they have special meaning for the extension, but why not using _non capturing_ groups `(?:foo)`?

Can you provide the configuration for Highlight that causes problems? Perhaps open an issue about this in its repo.

As the readme says, they are not supported at all:

I'm not sure how/if this cou

[2019-01-19 02:16] fabiospampinato commented on #161
Also why are you writing your own regex? Is your use case something general enough that we could support by default?

The default regex is quite complicated and supports a lot of cases already.

[2019-01-19 03:46] rodrigoccurvo commented on #161
The main issue is that I can't just copy a regex from Todo+ to Highlight and vice-versa, because it won't work. For example, take this simple regex:

"(TODO)(?::)(.*)"

It will work on Todo+, but if I copy to Highlight, it will miss the last char. My guess is that it's because of non-matching groups affect Highlight's way of calculating positions.

Maybe this could be fixed in Highlight. But becau

[2019-01-19 09:40] Mordef opened #162 "HowTo, need help"
Looks good, but how to add new Todo's?
Must i copy a line/symbol?
Didnt find a shortcut to add ☐

[2019-01-19 14:28] #161 closed, assigned to nobody

[2019-01-19 14:31] fabiospampinato commented on #162
Maybe there's a conflicting extension listening for Cmd/Ctrl+Enter?

[2019-01-19 14:43] Mordef commented on #162
curious, have checked keys and looks fine.
After reload window it works.

[2019-01-19 14:46] fabiospampinato commented on #162
Try reproducing the problem after having disabled all other extensions. Or perhaps you're overriding this shortcut in your settings. It's working for everybody else so it's pretty unlikely that now the extension broke.

[2019-01-19 15:11] rodrigoccurvo commented on #161
Oh, I see. So Highlight works with subgroups as long as it's not capturing subgroups.

I'm not well versed in TS, but if I end up learning it I'll see if I can come up with a solution.

In any case, thanks for your time and for the extensions.

[2019-01-21 23:01] dwfmarchant opened #163 "Refresh Embedded?"
I'm trying to figure out how to refresh the list of Embedded todo's.  The only way I can get it to work is change the option in Todo > Embedded: Provider (or exit and restart vs code).  I'm running Todo+ v4.11.4 on macOS.

[2019-01-21 23:08] fabiospampinato commented on #163
It should refresh automatically, can you make a gif or something of the steps necessary to reproduce the problem?

[2019-01-22 18:11] dwfmarchant commented on #163
Thanks for the quick response - actually it looks as though it is working fine for some projects and not for others.  Still working on coming up with a minimal example that reproduces the behavior.

[2019-01-31 09:08] ChaosD opened #164 "Move comments/descriptions for TODOs to archive"
Hi,

I'm not sure if I'm missing something to associate a comment with a TODO entry but it would be great, if comments/descriptions below a TODO would get moved to archive, too.

Sometimes i have comments that can span multiple lines and having those remain in the project when the TODO gets moved to archive kind of defeats the purpose of "cleaning up".

If it's not already possible somehow, it wou

[2019-01-31 14:30] nikitavoloboev opened #165 "Accept TODOs that start with @"
The codebase I am working on has TODOs that start with `@` like:

[code]

Extension doesn't catch those currently. Would be nice if it did.

[2019-01-31 14:31] nikitavoloboev commented on #165
Also @TODO is JSDoc default: https://github.com/fabiospampinato/vscode-todo-plus/issues/165

[2019-01-31 14:39] fabiospampinato commented on #165
This is actually kind of already supported:

1. I think JSDoc-style todos should be written as:

[code]

2. You can edit the regexes used by Todo+ yourself to support any kind of syntax you like.

But I guess single-line jsdoc-ish todos should be supported by default, thanks for the suggestion!

[2019-01-31 15:57] ChaosD commented on #164
It doesn't seem to work for me then. Could you tell me what i'm doing wrong?
1) create an entry
2) add some text below it
3) Alt+d to mark it as done
![image](https://user-images.githubusercontent.com/331779/52066486-f3513700-2578-11e9-8668-444263564ac4.png)

4) Ctrl+Shift+a to archive
![image](https://user-images.githubusercontent.com/331779/52066594-27c4f300-2579-11e9-8cc8-1a6767f6a3d0.png)

As

[2019-01-31 16:40] fabiospampinato commented on #164
You have to indent the comment too. Right now it's not inside the task, bur rather at the same level.

[2019-02-01 06:46] ChaosD commented on #164
I guess, I could have figured that out on my own... 😄
Small nitpick: the indentation for the comment is lost when archiving

Thank you for your help and this useful extension!

[2019-02-01 13:06] fabiospampinato commented on #164
Small nitpick: the indentation for the comment is lost when archiving

Yeah maintaining the indentation in general would be tricky #25

[2019-02-05 20:59] mschmid opened #166 "Support Todos with alternative box: - [ ]"
Hi, i really like Todo+!
I tried to change the Todo-Box-String from default to `- [ ]`, to be compatible with Githubs markdown syntax for todos.
But then toggling done doesn't work as expected, it generates `- [x] [ ]` instead of `- [x]`.
Is there a reason, that markdown syntax is not supported?

[2019-02-05 21:14] fabiospampinato commented on #166
Mostly it isn't supported because it wasn't supported by [PlainTasks](https://github.com/aziz/PlainTasks). And we already support writing todos as `- foo`. And there's no concept of a cancelled todo in markdown, what should that look like, `- [-]` maybe? Weird.

Is there any reason why you'd like to use Markdown's syntax? 🤔 I have a much more limited [extension](https://marketplace.visualstudio.co

[2019-02-05 21:39] mschmid commented on #166
Wow that was fast. To be honest, I am currently searching for the best way to organize myself across projects. I like the open file format of Todo+ and Markdown in contrast to proprietary tools. And I also like a nice rendering like for example in Notable.
If Notable could extract all todos from the notes this would be perfect - I thought I could configure Todo+ to accomplish this.

[2019-02-05 21:54] fabiospampinato commented on #166
@mschmid The two aren't really meant to be interoperable.

I'm closing this as supporting the Markdown syntax seems out of scope.

[2019-02-05 21:54] #166 closed

[2019-02-06 18:08] foundationalnotes opened #167 "How can I enable time till completion on tasks with a due date?"
How can I enable time till completion on tasks with a due date? (I promise I looked through the settings but am not sure which would apply)

For example:

Major task item due @due(02-13-19)

Under or beside this item I would like to see "33 days remaining" or something similar.

_Originally posted by @foundationalnotes in https://github.com/fabiospampinato/vscode-todo-plus/issues/61#issuecomment-4

[2019-02-06 18:19] fabiospampinato commented on #167
@foundationalnotes the `@due` tag isn't supported yet. https://github.com/fabiospampinato/vscode-todo-plus/issues/23

[2019-02-06 18:19] #167 closed

[2019-02-07 04:53] Astrantia opened #168 "Badges for Custom Embeded Hits"
Is there a way to add these badges for new custom regex matches?
![image](https://user-images.githubusercontent.com/32885386/52391260-5e63a780-2a6a-11e9-9d79-c8085ad3c925.png)

[2019-02-07 11:10] dpajkovic opened #169 "Archive project can't be folded in the activity bar"
After the tasks are archived, they appear in the activity bar underneath the entry Archive:, as expected, however this entry can't be folded to hide the archived tasks - there is no triangle arrow next to it.

Versions:
VSCode 1.31
Todo+ 4.11.4
running on Windows 7 (if that matters)

[2019-02-07 12:55] fabiospampinato commented on #169
@dpajkovic sounds like a problem with vscode maybe, my archive is foldable:

<img width="185" alt="screen shot 2019-02-07 at 13 54 55" src="https://user-images.githubusercontent.com/1812093/52412768-05cef180-2ae0-11e9-988f-487afdc49a08.png">

Can you post a screenshot?

[2019-02-07 12:56] fabiospampinato commented on #168
@Astrantia yes, first you have to update the regex used, then you have to set a specific color for your match via the `todo.colors.types` setting.

The regex can't be totally custom though, the first capturing group is supposed to capture the "type" of the comment.

[2019-02-07 12:56] #168 closed

[2019-02-07 13:09] dpajkovic commented on #169
![2019-02-07 13_57_46](https://user-images.githubusercontent.com/25065850/52413403-cdc8ae00-2ae1-11e9-97e6-4e3caf5654bd.png)

The issue is not in the file view, but in the sidebar.

Sorry for having to obsfucate the file, but I hope you get the idea from this.

[2019-02-07 13:16] fabiospampinato commented on #169
I see here 2 different indentations, see how the todos inside the archive are less indented? That's the problem I think. You should update the `todo.indentation` setting and update the indentation of the todos inside the archive..

[2019-02-07 13:16] #169 closed

[2019-02-08 03:54] Astrantia opened #170 "Embedded view: sort tasks alphabetically"
I have embed todos of the form // number 1, // number 2, …
They result in the following display:
![image](https://user-images.githubusercontent.com/32885386/52458093-591a6180-2b2b-11e9-9f4f-0c29b207c0a2.png)

I think it sorts by the code line number. Is it possible to sort them alphanumerically?

[2019-02-08 13:29] fabiospampinato commented on #170
Not possible right now. I'd be happy to consider a PR for adding an option for doing this.

[2019-02-10 18:06] pzmarzly opened #171 "Add shortcut to turn item into category"
`<|>` indicates cursor position

[code]

After `Alt-C`:

[code]

So, such shortcut should run `Toggle Box` and add/remove colon at the end of the line.

[2019-02-10 18:12] fabiospampinato commented on #171
I don't think we need such shortcut, just toggle the todo and press `:`. If you really want to save the extra keypress you can make such shortcut yourself with [macros](https://marketplace.visualstudio.com/items?itemName=geddski.macros).

[2019-02-10 18:12] #171 closed

[2019-02-11 06:38] Astrantia opened #172 "Use new tree API"
This might improve performance and will enable filtering too.

[2019-02-18 21:34] MKlblangenois opened #173 "Exclude not working"
Hi!

I've tried many way to exclude path from Todo but no one's working.

My goal is the exclude WordPress core and plugins to my Todo view.

I've already tried the default exemple :
`"todo.file.exclude": [
        "**/.!(todo|todos|task|tasks)/**"
    ]`

Thanks

[2019-02-19 00:48] fabiospampinato commented on #173
@MKlblangenois Can you make a public repo where I can reproduce the issue?

[2019-02-19 08:13] MKlblangenois commented on #173
I've added you to my private repo as collaborator (Zeract)

My settings.json
`{
    "workbench.colorTheme": "Material Theme High Contrast",
    "workbench.iconTheme": "vscode-icons",
    "window.zoomLevel": 0,
    "editor.fontFamily": "\"Fira Code\", Consolas, 'Courier New', monospace",
    "editor.fontLigatures": true,
    "terminal.integrated.fontFamily": "monospace",
    "editor.fontSize": 16,

[2019-02-19 21:05] douglance opened #174 "Add Statistics to Archive"
It would be great to see my estimates vs lasted for my Archive, so I can compare estimates to actuals so far in a project.

Thanks for a great extension. I love it!

[2019-02-21 12:42] JohnArcher opened #175 ""Running the contributed command:'task.complete' failed." when completing a task"
Hey there!

I am not sure when this problem started but everytime I press Alt+D to complete a task I get the error `Running the contributed command:'task.complete' failed.` and the task is not marked as completed.

![image](https://user-images.githubusercontent.com/990724/53169757-6da43280-35de-11e9-969d-e509c94e7c48.png)

When I use the "Show Fixes" light bulb and click on "Complete the task" not

[2019-02-21 13:29] fabiospampinato commented on #175
We aren't contributing any command named `task.complete`, nor any lightbulb actions, you most probably have another extension conflicting with this.

[2019-02-21 13:29] #175 closed

[2019-02-21 13:37] JohnArcher commented on #175
Oh, I am sorry, you are right. The extension "To Do Tasks" caused this problem, which I had accidentally enabled. Of course it is silly to have to of such extensions, but in the past there was no error, so I didn't realize I had both.
So, thanks for the help and sorry for the trouble.

[2019-02-21 15:23] douglance opened #176 "Setting for including @done tasks in estimates"
It'd be great to have a boolean flag for excluding @done tasks from your [est] statistics. That way, if it were `false`, then I could compare my estimates to actuals and see how well I am estimating.

[2019-02-25 14:03] ulvido opened #177 "Counter.todo"
if the file name is Counter.todo it doesn't show todos.

![2019-02-25 16-57-18 ekran goruntusu](https://user-images.githubusercontent.com/27722274/53342557-1f58a180-3906-11e9-92d3-4a45efd8a2a0.png)

[2019-02-25 14:58] fabiospampinato commented on #176
I'm not sure if I'm understanding this right, from what I can see there's nothing to implement here.

`@est` tags of done tasks are not counted for the `[est]` token already.

And you can already compare how long it actually took to complete a task with your estimate, but there's still no way to toggle the "started" timer yet https://github.com/fabiospampinato/vscode-todo-plus/issues/88 so those n

[2019-02-25 14:58] #176 closed

[2019-02-25 14:59] fabiospampinato commented on #176
Also you can actually see a small bug in my gif, it says 45 seconds have passed but that's not true. That's happening because we are not storing the seconds in the `@started` tag, but if that's important to you you can change the format used to include seconds and get a bit more accurate estimates.

[2019-02-25 15:20] fabiospampinato commented on #173
I see no files in the "file" view already, but you can exclude them with the following:

[code]

If you also don't want to see todos in the "embedded" view from those folders, add the following:

[code]

[2019-02-25 15:20] #173 closed

[2019-02-25 18:50] douglance commented on #176
@fabiospampinato I figured out what the issue was. If I type in my `@lasted` then trigger the `@done` it erases my `@lasted` and adds `@done`. That isn't the behavior I was expected.

[2019-02-25 19:36] fabiospampinato commented on #176
What do you mean with "if I type in my `@lasted`", were you editing it? adding it manually?

[2019-02-25 21:27] douglance commented on #176
Yes. I was adding it manually because I don't always remember to start a timer, or I'm working on something else and I get a task done; so I just type it in since I can't start a timer after it's already complete.

[2019-02-25 22:57] fabiospampinato commented on #176
If you add that manually it should work too, after all the extension itself has no way of knowing if the tag has been added manually or not, but it must be written in the right format.

[2019-02-26 13:46] douglance commented on #176
Right. It works great. The issue is that I have to write @lasted _after_ I trigger `@done ` or else the done command will erase my manually written `@lasted`.

[2019-03-01 09:05] SadWood opened #178 "how to set archive indent?"
After I use the archive function, the indentation of the archive has only one space. How can I change the indentation settings of the archive?
I once asked my question before, but it may not be clear.
thx.

[2019-03-01 13:29] fabiospampinato commented on #178
You should probably set the `todo.indentation` setting. But the indentation won't change for existing files, you'll have to do that manually I think.

[2019-03-01 13:29] #178 closed

[2019-03-01 15:00] SuperCuber commented on #18
Is there a way to implement it using window similar to `Ctrl+Shift+F`? It could have a superset of the functionality, but also stuff like filtering by due date (#23). Each line in the result would correspond to an unticked checkbox (or maybe have that an option - `only show uncompleted tasks`) and clicking on that line would send you to that todo in the appropriate file.

That window could also ha

[2019-03-01 15:08] fabiospampinato commented on #18
@SuperCuber Yeah I guess one could ask for the search query via a quickpick panel and then open a new editor with the results.

[2019-03-01 15:50] SuperCuber commented on #18
I was thinking something along the lines of [this](https://owo.whats-th.is/KxHC4QR.png) (screenshot from Zim Wiki's Manual)

You can see on the left it shows priority level (one `!` for each level) and start/due time (OD stands for overdue since the docs are pretty old), and on the right the text. Clicking on the task just selects the text of the task in the appropriate page/line [like so](https:/

[2019-03-06 21:11] AlphaDaniel opened #179 "12 hour format?"
How can I successfully use 12 hour format without having 12:.... automatically added on lasted and on status bar counter?

Using `hh:mm:ss` on both **started** and **finished** settings gives me the desired 12 hr format in the tags but as a side effect it adds 12: to my lasted

---

## **Using `hh:mm:ss`**
✔ Item @ started(03:59:58) @ done(04:00:03) @ lasted( **12h** 6s)

_status bar starts at_
`1

[2019-03-06 21:18] fabiospampinato commented on #179
Can you paste the relevant configuration?

[2019-03-06 21:21] AlphaDaniel commented on #179
`"todo.timekeeping.finished.format": "hh:mm:ss"`
`"todo.timekeeping.started.format": "hh:mm:ss"`

[2019-03-06 21:23] fabiospampinato commented on #179
What happens when you updated `todo.timekeeping.finished.format` accordingly too?

[2019-03-06 21:24] fabiospampinato commented on #179
What happens when you set `todo.timekeeping.created.format` too?

[2019-03-06 21:26] AlphaDaniel commented on #179
Same issue ... sorry didn't mention I also had set that when playing around trying to solve

[2019-03-06 21:28] AlphaDaniel commented on #179
here's the full list of my custom settings

[code]

[2019-03-06 22:15] fabiospampinato commented on #179
It sounds like a bug.

[2019-03-06 23:41] AlphaDaniel commented on #179
No problem , I'll use 24 for now and keep an eye out. :)

[2019-03-11 14:29] jods4 commented on #153
In the context of a todo list, displaying durations as 24-hours days is meaningless, even misleading if you don't immediately notice that something is wrong.

I think todo+ needs a settings _Hours per day_ (e.g. 8) and then this piece of code that formats durations:
https://github.com/fabiospampinato/vscode-todo-plus/blob/master/src/utils/time.ts#L46-L48
needs to use this settings rather than hard

[2019-03-19 20:40] raulrfa commented on #116
I am a newbie.  But really I do not undestand how to use the ToDo+ in python, I read the Readme.md and I don't know how to made the embedded todo to use the file in Python source  (#TODO ?). And I don't understand how to make the file customized to Python.
I work with VS Code 1.32.

[2019-03-19 20:52] fabiospampinato commented on #116
@raulrfa This extension defines the "todo" language, you can't use it with any other kind of files.

[2019-03-19 20:55] fabiospampinato commented on #116
Todo+ defines the `todo` language, so most of the things it provides you can only do within those kind of files.

The syntax we support for todo files is defined under the `todo.embedded.regex` setting. If you want to add a todo to some other file add something like this `#TODO: Foo` and you're set. Now that todo should be displayed in the activity bar and you can retrieve all your embedded todos

[2019-03-21 18:30] blondie63 opened #180 "guide"
Hi Fabio, is there a guide to use todo-plus ?

[2019-03-21 18:32] fabiospampinato commented on #180
Hey, there's a small kind of tutorial [here](https://github.com/fabiospampinato/vscode-todo-plus#example-todo-file), other than that I guess just play with the provided commands and settings. Let me know if there's anything that's unclear.

[2019-03-21 18:32] #180 closed

[2019-03-22 07:09] blondie63 commented on #180
Ok thanks, reading better, now i understand..

[2019-03-22 16:56] jeff9315 opened #181 "Newbie Question regarding this and Markdown"
I have a lot of markdown files that contain To Do items ... all with the extension _.md_ I was hoping I would be able to use those with ToDo-Plus. But it doesn't look like this is meant to be used with Markdown files. Am I correct in that? I'm already trying Notable.

Thanks ... Jeff

[2019-03-22 17:19] fabiospampinato commented on #181
Yeah this doesn't support markdown files. I have [another](https://marketplace.visualstudio.com/items?itemName=fabiospampinato.vscode-markdown-todo) extension that adds a few shortcuts for use within Markdown.

[2019-03-22 17:19] #181 closed

[2019-03-22 17:20] fabiospampinato commented on #177
Sorry I must have missed this issue. Your indentation doesn't look quite right, you're using 4 spaces but the settings for Todo+ (unless you've changed them) say that you should be using 2 spaces, update the related setting: `todo.indentation`.

[2019-03-22 17:20] #177 closed

[2019-03-24 13:28] OsvaldoMartini opened #182 "Setting"

[2019-03-24 13:32] OsvaldoMartini commented on #182
Hi, I'm testing ALL +, how do I change the settings, as I just want to filter specific tag like "ALL" or "FIXME", I just want to detect ie "TODO-MARTINI"

[2019-03-24 18:31] fabiospampinato commented on #182
I'm not exactly sure what you mean here, if you're talking about embedded todos you can configure that via the `todo.embedded.regex` setting.

[2019-03-24 18:31] #182 closed

[2019-03-26 01:30] mtxr commented on #165
@fabiospampinato

[code]

Is not working for me.

I've made no change except defining RG as a provider.

I use ripgrep for almost everything on my machine, so the path is ok.

Any ideas?

[2019-03-26 01:33] mtxr commented on #165
Also if I switch to //todo: it shows, but duplicate

![image](https://user-images.githubusercontent.com/707561/54965155-03b8d900-4f4e-11e9-969b-ab12032516f6.png)

[2019-03-26 01:34] fabiospampinato commented on #165
@mtxr Strange 🤔 I can't reproduce this. What OS and VSC version are you on? Did you change any other todo+ settings?

[2019-03-26 01:41] mtxr commented on #165
Insiders 1.33, Linux fedora 29

I got it running chaning the regex to:
[code]

But still duplicate

[2019-03-26 01:41] mtxr commented on #165
My todos:
https://github.com/search?q=todo+repo%3Amtxr%2Fvscode-sqltools&type=Code
https://github.com/search?q=deprecated+repo%3Amtxr%2Fvscode-sqltools&type=Code

This is everything I want to highight.

[2019-04-03 12:51] nikitavoloboev opened #183 "Switch to the new Tree component"
It would be nice if you could start typing characters and jump to corresponding TODOs in active Embedded View. So if in below view I would start typing `ge`:

![2019-04-03 at 14 50](https://user-images.githubusercontent.com/6391776/55480119-d809b300-561f-11e9-807c-2a927fc887f5.png)

It would jump focus to the item(s) starting with `ge`:

![2019-04-03 at 14 50](https://user-images.githubusercontent

[2019-04-03 14:38] fabiospampinato commented on #183
The specific behavior you want (focusing to the element) I don't think can be implemented.

But filtering is already implemented this way:

![hjb](https://user-images.githubusercontent.com/1812093/55487574-a5b38200-562e-11e9-967c-b08895750f47.gif)

And I think the VSC team added a new Tree component that when used gives kind of the sort of filtering that you want:

![kjjkn](https://user-images.git

[2019-04-03 15:48] nikitavoloboev commented on #183
How do I access this panel from keyboard?

Would love to see it added. Can look into it myself. 🙂

[2019-04-03 16:20] fabiospampinato commented on #183
Not possible right now, but it sounds like a nice addition, I'd be happy to consider a PR adding the following 2 commands:

- `Todo: Filter Embedded View`
- `Todo: Clear Filter Embedded View`

I'd be happy to consider a PR for this too, if you'd like to implement it I guess [this](https://github.com/fabiospampinato/vscode-todo-plus/blob/master/src%2Fviews%2Fview.ts) is the file that would need to

[2019-04-07 09:02] klukiyan opened #184 "@file:///current root path?/"
The extension can generatate the `@file://xx/xx/x.x` links to files and lines, however these are having disk drive as root D

Is it possible to make same links to use PROJECT FILE as root?
`@file:///current root path?/`

Instead of `@file:///d%3A/laragon/www/xxx/resources/views/layouts/front/xxx.blade.php`
to use `@file:///resources/views/layouts/front/xxx.blade.php`

[2019-04-07 19:04] fabiospampinato commented on #184
I don't think you can use relative filenames with the `file://` protocol, but even if you could then if/when you save the file somewhere else all those links will be broken, so I don't think this is a good idea.

[2019-04-07 19:04] #184 closed

[2019-04-07 19:07] klukiyan commented on #184
@fabiospampinato ,
if the links were relative to rootfolder, then they would work accross multiple computers.
With absolute links I get exactly the oposite!
On one computer the folder is in `C:/laragon`, on another is in `D:/laragon`
Thus if I save the filepath into ToDo on one computer, on the other they don't work anymore.
This stops me from using full potential of ToDo+ :(

[2019-04-07 19:11] fabiospampinato commented on #184
🤔 I see the problem, are you saving the file for any particular reason instead of regenerating it every time?

[2019-04-07 19:17] klukiyan commented on #184
I'm writing the big *.todo lists (in one file or multiple if big sets of project tasks) and they mainly contain my handwritten notes. Additionally I'm writing paths to file and lines in the files with or without ToDo tags in them to remind myself which files I worked on for particular development set.

Regenerating the generate functionality I don't use much because they don't show the relation be

[2019-04-07 19:27] fabiospampinato commented on #184
Ok, I'm not sure sure there's anything Todo+ specifically can do for this scenario, I just don't think the `file://` protocol supports relative paths.

I guess what you want is an extension which enhances some special syntax for this, so that basically something like `relfile://./foo.js` gets highlighted and you ctrl+click it like you can do with other URLs, and I think this is out of scope with w

[2019-04-07 21:00] klukiyan commented on #184
Thank you for your kind and detailed explanation.
And for the amazing extension. I use it in all my projects

[2019-04-09 00:57] spmeesseman opened #185 "Feature Request -> Export to HTML"
Great great great extension, I really see value in this, especially if I could export the marked up file to HTML to send to co workers and superiors.  Any chance for this in the future?  I'd take a stab at it myself if you think its not worth your time, as soon as I can get some time myself haha.  But thanks again for a great tool in any case

[2019-04-09 11:34] fabiospampinato commented on #185
If you'd like to submit a PR for this I'd be happy to consider it.

It shouldn't be too difficult to implement, but I'm not sure how "cancelled" todos should be translated to HTML, since there's no concept of a "cancelled" checkbox 🤔

[2019-04-09 11:45] pzmarzly commented on #185
Maybe [indeterminate checkboxes](https://css-tricks.com/indeterminate-checkboxes/) could be used? They display as `[-]` in modern browsers (not sure about Safari though).

[2019-04-09 11:55] fabiospampinato commented on #185
@pzmarzly Maybe 🤷‍♂️ Maybe we could get a nice output if we styled those via CSS to make them appear more like "cancelled" todos rather than indeterminate.

[2019-04-11 14:11] suchcodemuchwow opened #186 "Update Issue"
Hey, I just started to use this extension and it's great. However I have some kind of problem with it. When I add new todo comment in my src files it will not update the todo embedded file. The only option is to recreate the embedded file by using Todo:Open embedded. And It will ignore all things like time stamps and archived items in new file. Are there some kind refresh option available which sc

[2019-04-11 15:06] fabiospampinato commented on #186
The generated file is a fixed file, I don't think we need an option for updating it 🤔 If you want an auto-updating list you should use the [activity bar views](https://github.com/fabiospampinato/vscode-todo-plus#activity-bar-views).

I'm not sure what you mean by that.